<template>
    <v-layout class="custom-date-picker-wrapper" align-center>
        <v-btn @click="previousWeek()" icon>
            <v-icon dark>navigate_before</v-icon>
        </v-btn>

        <div>
            <v-dialog>
                <template v-slot:activator="{ on }">
                    <v-text-field
                            align-center
                            class="custom-text-field"
                            :value="getTextValue"
                            readonly
                            v-on="on"
                    />
                </template>
                <v-date-picker
                        @input="selectDay($event)"
                        :value="day.format('YYYY-MM-DD')"
                        :events="hasEvent"
                        locale="ru-Ru"
                        no-title
                        first-day-of-week="1"
                        full-width
                />
            </v-dialog>
        </div>

        <v-btn @click="nextWeek()" icon>
            <v-icon>navigate_next</v-icon>
        </v-btn>
    </v-layout>
</template>

<script>
    import moment from 'moment';

    export default {
        props: ['day'],

        methods: {
            nextWeek: function() {
                this.$emit('update:day', this.day.clone().add(1, 'weeks'));
            },

            previousWeek: function () {
                this.$emit('update:day', this.day.clone().add(-1, 'weeks'));
            },

            selectDay: function (day) {
                this.$emit('update:day', moment(day, 'YYYY-MM-DD').locale('ru').startOf('day').utc(true));
            },

            hasEvent(day) {
                return day !== this.getFormattedDay &&
                    moment(day).isoWeek() === this.getWeekNumber;
            }
        },

        computed: {
            getTextValue: function () {
                let monday = this.day.clone().startOf('isoweek').format('DD MMM Y');
                let sunday = this.day.clone().endOf('isoweek').format('DD MMM Y');
                return `${monday} - ${sunday}`;
            },

            getWeekNumber: function () {
                return this.day.clone().isoWeek();
            },

            getFormattedDay: function () {
                return this.day.format('YYYY-MM-DD');
            }
        }
    }
</script>
<style lang="scss" scoped>
    /deep/ .v-dialog {
        width: 350px;
    }

    /deep/ .layout {

    }

    /deep/ .warning {
        width: 8px;
        height: 3px;
        border-radius: 0;
    }

    .custom-date-picker-wrapper {
        width: 330px;
        flex: none;
    }

    .custom-text-field {
        & /deep/ input {
            width: 235px;
            text-align: center;
        }

        & /deep/.v-text-field__details {
            display: none;
        }

        & /deep/ .v-input__control {
            height: 32px;
        }
    }
</style>