<template>
    <tr class="row">
        <th v-for="header in headers" :key="header.text"
            class="header"
            :class="[`header-${header.type}`,
                    {'header-weekend': isWeekendHeader(header) },
                    {'header-selected': isSelectedHeader(header)},
                    {'header-expired': header.expired}]">
            <template v-if="header.type==='day'">
                <span class="header-date">{{ header.date}}</span> <br>
                <span class="header-day-of-week">{{ header.dayOfWeek }}</span>
            </template>
            <template v-else>
                {{header.text}}
            </template>
        </th>
    </tr>
</template>

<script>
    export default {
        props: ['day', 'headers', 'expired'],

        methods: {
            isWeekendHeader: function(header) {
                if(!header || header.type !== 'day') {
                    return false;
                } else {
                    return [0, 6].indexOf(header.value.day()) !== -1;
                }
            },

            isSelectedHeader: function (header) {
                if(!header || header.type !== 'day') {
                    return false;
                } else {
                    return this.day.day() === header.value.day();
                }
            }
        }
    }
</script>
<style lang="scss" scoped>
    .row {
        border-bottom: none !important;
    }

    .header {
        border-bottom: none;

        &-day-of-week {
            color: #1976d2;
        }

        &-fio {
            background: gainsboro;
        }

        &-weekend {
            background: bisque;
        }

        &-selected {
            border: 3px solid #1976d2;
            border-bottom: none;
        }

        &-expired {
            background: darkgray;
        }
    }
</style>