<template>
  <tr>
    <td class="cell cell_name">{{ item.name }}</td>
    <td
      v-for="dayName in daysOfWeek"
      :key="dayName"
      class="cell cell_day"
      :class="getClasses(item, dayName)"
    >
      <weekday-label v-if="!item[dayName]" />
      <v-flex
        class="schedule-value"
        v-else
        v-for="(workday, index) in item[dayName]"
        :key="index"
      >{{getFormattedTime(workday.from)}} - {{ getFormattedTime(workday.to) }}</v-flex>
    </td>
    <td class="cell cell_actions justify-center layout px-0">
      <v-icon v-if="!allExpired" small class="mr-2" @click="showDialog=true">edit</v-icon>
      <edit-employee-schedule
        v-if="showDialog"
        :show="showDialog"
        :employeeId="item.id"
        @close="showDialog=false"
      />
    </td>
  </tr>
</template>

<script>
import EditEmployeeSchedule from '@/pages/Schedule/components/EditEmployeeSchedule/index.vue';
import WeekdayLabel from './WeekdayLabel';
import moment from 'moment';
import {
  formatSecondsToDateByUTC
  // formatTimeToSecondsByUTC
} from '@/helpers/helpers';

export default {
  props: ['item', 'day', 'expired'],

  data: () => ({
    daysOfWeek: [
      'monday',
      'tuesday',
      'wednesday',
      'thursday',
      'friday',
      'saturday',
      'sunday'
    ],
    showDialog: false
  }),

  methods: {
    getFormattedTime: function(value) {
      return value ? formatSecondsToDateByUTC(value, 'HH:mm') : '';
    },

    isWeekend: function(dayName) {
      return ['saturday', 'sunday'].indexOf(dayName) !== -1;
    },

    isSelected: function(dayName) {
      return this.currentDayName === dayName;
    },

    getClasses: function(item, dayName) {
      let selected = this.isSelected(dayName);

      return {
        cell_weekend: this.isWeekend(dayName),
        cell_expired: this.expired.indexOf(dayName) !== -1,
        cell_selected: selected,
        'cell_last-selected': selected && item.last
      };
    }
  },

  computed: {
    currentDayName: function() {
      return this.day
        .clone()
        .locale('en')
        .format('dddd')
        .toLowerCase();
    },

    allExpired: function() {
      return this.expired.length === 7;
    }
  },

  components: {
    EditEmployeeSchedule,
    WeekdayLabel
  }
};
</script>
<style lang="scss" scoped>
.cell {
  min-height: 60px;

  &_name {
    width: 150px;
    background: gainsboro;
  }

  &_day {
    text-align: center;
    width: 130px;
  }

  &_weekend {
    background: bisque;
  }

  &_selected {
    border-left: 3px solid #1976d2;
    border-right: 3px solid #1976d2;
  }

  &_last-selected {
    border-bottom: 3px solid #1976d2;
  }

  &_expired {
    background: darkgray;
  }
}

.employee-row {
  padding: 2px 0;
}

.schedule-value {
  white-space: nowrap;
}
</style>