<template>
    <tr class="row">
        <td class="cell cell_name">{{ item.name }}</td>
        <td v-for="dayName in daysOfWeek" :key="dayName"
            class="cell"
            :class="getClasses(item, dayName)">
            <weekday-label  v-if="item[dayName]" />
        </td>
        <td class="cell justify-center layout px-0">
            <v-icon v-if="!allExpired"
                    small
                    class="mr-2"
                    @click="showDialog=true">
                edit
            </v-icon>
            <edit-company-schedule v-if="showDialog" :show="showDialog" :day="day" @close="showDialog=false"/>
        </td>
    </tr>
</template>

<script>
    import EditCompanySchedule from '@/pages/Schedule/components/EditCompanySchedule/index.vue';
    import WeekdayLabel from "./WeekdayLabel";

    export default {
        props: ['item', 'day', 'expired'],

        data: () => ({
            daysOfWeek: ['monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'sunday'],
            showDialog: false
        }),

        methods: {
            isWeekend: function(dayName) {
                return ['saturday', 'sunday'].indexOf(dayName) !== -1;
            },

            isSelected: function (dayName) {
                return this.currentDayName === dayName;
            },

            getClasses: function (item, dayName) {
                let selected = this.isSelected(dayName);

                return  {
                    'cell_weekend': this.isWeekend(dayName),
                    'cell_expired': this.expired.indexOf(dayName) !== -1,
                    'cell_selected':selected,
                    'cell_last-selected':selected && item.last
                }
            }
        },

        computed: {
            currentDayName: function () {
                return this.day.clone().locale('en').format('dddd').toLowerCase();
            },

            allExpired: function () {
                return this.expired.length === 7;
            }
        },

        components: {
            EditCompanySchedule,
            WeekdayLabel
        }
    }
</script>
<style lang="scss" scoped>

    .row {
        border-top: 2px solid #8a8a8a !important;
        border-bottom: 2px solid #8a8a8a !important;
    }

    .cell {
        min-height: 60px;

        &_name {
            min-width: 150px;
            font-weight: bold;
            font-style: italic;
            background: gainsboro;
        }

        &_day {
            text-align: center;
            width: 130px;
        }

        &_weekend {
            background: bisque;
        }

        &_selected {
            border-left: 3px solid #1976d2;
            border-right: 3px solid #1976d2;
        }

        &_last-selected {
            border-bottom: 3px solid #1976d2;
        }

        &_expired {
            background: darkgray;
        }
    }
</style>