<template>
    <div class="week-day-label">
        <span>Вых</span>
    </div>
</template>
<script>
    export default {
        name: "WeekdayLabel"
    }
</script>
<style lang="scss">
    .week-day-label {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #d20000;
        color: #fff;
        margin: 0 auto;
    }
</style>