<template>
  <v-dialog v-model="showDialog" max-width="600px">
    <v-card>
      <v-card-title class="headline primary white--text justify-space-between">
        Сотрудник. График работы
        <v-btn @click="showDialog = false" icon outline color="white">
          <v-icon class="white--text">close</v-icon>
        </v-btn>
      </v-card-title>

      <v-divider></v-divider>

      <v-card-text class="ma-0">
        <loader v-if="loadingData"></loader>

        <v-layout v-else row v-for="day in week" :key="day.value">
          <v-checkbox
            :label="day.label"
            :value="day.value"
            v-model="schedule.checked"
            class="checkbox mr-3"
            color="primary"
          />

          <v-layout column v-if="schedule.checked.includes(day.value)">
            <v-layout
              row
              v-for="(workhour, workhourIndex) in schedule[day.value]"
              :key="workhourIndex"
            >

              <v-text-field
                name="from"
                label="С"
                prepend-icon="access_time"
                class="mr-3"
                mask="time"
                v-model="workhour.from"
                @input.native="e => changeWorkhour(e, day.value, workhourIndex)"
                @blur="e => checkTime(e, day.value, workhourIndex)"
              />

              <v-text-field
                name="to"
                label="До"
                prepend-icon="access_time"
                class="mr-3"
                mask="time"
                v-model="workhour.to"
                @input.native="e => changeWorkhour(e, day.value, workhourIndex)"
                @blur="e => checkTime(e, day.value, workhourIndex)"
              />

              <v-btn
                v-if="workhourIndex === 0"
                small
                fab
                flat
                color="primary"
                @click="addWorkhours(day.value)"
                :disabled="disableAddWorkhours(day.value)"
              >
                <v-icon dark>add</v-icon>
              </v-btn>
              <v-btn
                v-else
                small
                fab
                flat
                color="error"
                @click="removeWorkhours(day.value, workhourIndex)"
              >
                <v-icon dark>remove</v-icon>
              </v-btn>

            </v-layout>
          </v-layout>
          <v-layout justify-center column v-else>
            Выходной день
          </v-layout>

        </v-layout>

      </v-card-text>

      <v-divider></v-divider>

      <v-card-actions class="justify-end">
        <v-btn color="primary" flat @click="showDialog = false">Закрыть</v-btn>

        <v-btn color="primary" text @click="updateSchedule()">Сохранить</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import axios from 'axios';
import moment from 'moment';
import {
  getHeaders,
  formatTimeToSecondsByUTC,
  formatSecondsToDateByUTC,
} from '@/helpers/helpers';
import Loader from '@/components/Loader';
import * as alertHelper from '@/helpers/alertsHelper';

export default {
  props: ['show', 'employeeId'],

  data: () => ({
    loadingData: true,
    week: [],
    schedule: {
      id: null,
      monday: [{
        from: '09:00',
        to: '18:00'
      }],
      tuesday: [{
        from: '09:00',
        to: '18:00'
      }],
      wednesday: [{
        from: '09:00',
        to: '18:00'
      }],
      thursday: [{
        from: '09:00',
        to: '18:00'
      }],
      friday: [{
        from: '09:00',
        to: '18:00'
      }],
      saturday: [{
        from: '09:00',
        to: '18:00'
      }],
      sunday: [{
        from: '09:00',
        to: '18:00'
      }],
      checked: []
    },
    menuTime: false,
    currentTime: null,
    minTime: null,
    maxTime: null,
    currentDayIndex: 0,
    currentTimeIndex: 0,
    currentTimePath: 'from',
    allowedMinutes: m => m % 5 === 0,
    updated: false
  }),

  beforeMount() {
    this.getSchedule();
  },

  computed: {
    showDialog: {
      get() {
        return this.show;
      },
      set(value) {
        if (!value) {
          this.$emit('close');
          if (this.updated) {
            this.$eventHub.$emit('refresh');
          }
        }
      }
    }
  },

  methods: {
    getSchedule: function() {
      this.loadingData = true;

      const data = {
        ...getHeaders()
      };

      axios
        .get(
          `/api/organisation/${this.$store.state.user.organisationId}/schedule/employees/${this.employeeId}`,
          data
        )
        .then(res => {
          this.getWeek();
          this.preparedSchedule(res.data);
          this.loadingData = false;
        })
        .catch(err => {
          alertHelper.addErrorAlert(err.response.data.message);
          // eslint-disable-next-line no-console
          console.error(err);
        });
    },

    preparedSchedule: function(schedule) {
      this.week.forEach(day => {
        if (schedule[day.value]) {
          this.schedule.checked.push(day.value);
          this.schedule[day.value] = schedule[day.value].map(item => ({
            from: formatSecondsToDateByUTC(item.from, 'HH:mm'),
            to: formatSecondsToDateByUTC(item.to, 'HH:mm'),
          }));
        }
      });
      this.schedule.id = schedule.id;
    },

    // валидация вводимых символов
    changeWorkhour(event, day, workhourIndex) {
      const { name } = event.target;
      let { value } = event.target;
      const chars = value.split('');

      if (chars.length) {
        const hourFirst = !/[0-2]/.test(chars[0]) ? '0' : chars[0];
        let hourSecond = chars[1];
        let minutes = chars[4] ? `${chars[3]}${chars[4]}` : chars[3];

        if (hourFirst === '2' && hourSecond && !/[0-3]/.test(chars[1])) hourSecond = '0';

        if (minutes && !/[0-5]/.test(chars[3])) minutes = '0';

        value = hourFirst;
        if (hourSecond) value += hourSecond
        if (minutes) value += `:${minutes}`;
      }

      this.$nextTick(() => {
        this.schedule[day][workhourIndex][name] = value;
      }) 
    },

    // проверка на минимальное, максимальное время и введенные символы
    checkTime(event, day, workhourIndex) {
      const { name } = event.target;
      let { value } = event.target;
      const chars = value.split('');

      if (!chars[0]) value += '0'
      if (!chars[1]) value += '0'
      if (!chars[2]) value += ':'
      if (!chars[3]) value += '0'
      if (!chars[4]) value += '0'

      if (workhourIndex === 0) {
        const nextTime = this.schedule[day][workhourIndex].to;
        if (value > nextTime) value = nextTime;
      }

      if (workhourIndex && name === 'from') {
        const prevTime = this.schedule[day][workhourIndex - 1].to;
        if (value < prevTime) value = prevTime;
      }

      if (name === 'to') {
        const prevTime = this.schedule[day][workhourIndex].from;
        if (value < prevTime) value = prevTime;
      }

      this.$nextTick(() => {
        this.schedule[day][workhourIndex][name] = value;
      })
    },

    getWeek: function() {
      let monday = moment()
        .locale('en')
        .startOf('isoweek');

      let week = [];
      week.push(buildDayOfWeek(monday));
      for (let i = 2; i < 8; i++) {
        week.push(buildDayOfWeek(monday.clone().day(i)));
      }

      this.week = week;

      function buildDayOfWeek(day) {
        let labelLower = day
          .clone()
          .locale('ru')
          .format('dddd')
          .toLowerCase();

        return {
          label: labelLower.charAt(0).toUpperCase() + labelLower.substring(1),
          value: day.format('dddd').toLowerCase()
        };
      }
    },

    addWorkhours: function(dayValue) {
      const length = this.schedule[dayValue].length;
      this.schedule[dayValue].push({
        from: this.schedule[dayValue][length - 1].to,
        to: '23:59',
      });
    },

    removeWorkhours: function(dayValue, workhourIndex) {
      this.schedule[dayValue].splice(workhourIndex, 1);
    },

    isChecked: function(dayValue) {
      return this.schedule.checked.indexOf(dayValue) !== -1;
    },

    disableAddWorkhours(dayValue) {
      const length = this.schedule[dayValue].length;
      return this.schedule[dayValue][length - 1].to === '23:59';
    },

    updateSchedule: function() {
      this.loadingData = true;

      // prepared requestBody
      let requestBody = Object.assign({}, this.schedule);
      this.week.forEach(day => {
        if (this.isChecked(day.value)) {
          requestBody[day.value] = requestBody[day.value].map(item => ({
            from: formatTimeToSecondsByUTC(item.from),
            to: formatTimeToSecondsByUTC(item.to),
          }));
        } else {
          delete requestBody[day.value];
        }
      });
      delete requestBody.checked;

      axios
        .post(
          `/api/organisation/${this.$store.state.user.organisationId}/schedule/employees`,
          requestBody,
          getHeaders()
        )
        .then(res => {
          this.preparedSchedule(res.data.content);
          alertHelper.addSuccessAlert(res.data.notice.message);
          this.updated = true;
          this.loadingData = false;
        })
        .catch(err => {
          this.loadingData = false;
          // eslint-disable-next-line no-console
          console.error(err);
          alertHelper.addErrorAlert(err.response.data.message);
        });
    },
  },

  components: {
    Loader
  }
};
</script>
<style lang="scss" scoped>
.checkbox {
  min-width: 130px;
}
</style>