<template>
    <v-dialog
            v-model="showDialog"
            width="500">
        <v-card>
            <v-card-title
                    class="headline primary white--text justify-space-between">
                Офис. График работы

                <v-btn @click="showDialog = false" icon outline color="white">
                    <v-icon class="white--text">close</v-icon>
                </v-btn>
            </v-card-title>

            <v-card-actions class="justify-center">
                <date-picker :day="localDay"
                             v-on:update:day="updateDay($event)"
                />
            </v-card-actions>

            <v-divider></v-divider>

            <v-card-text class="ma-0">
                <loader v-if="loadingData"></loader>
                <v-checkbox v-else v-model="schedule[day.format('dddd').toLowerCase()]" class="my-0"
                            v-for="day in week"
                            :key="day.format('YYYY-MM-DD')"
                            :disabled="isExpired(day)"
                            color="primary">
                    <template v-slot:label>
                        <span>{{ day.clone().locale('ru').format('DD MMM YYYY')}}</span>
                        &nbsp;
                        <span :class="!isExpired(day) ? ['label-day-of-week', {'label-day-of-week_weekend': isWeekend(day)}] : ''">{{ day.clone().locale('ru').format('(dd)')}}</span>
                    </template>
                </v-checkbox>
            </v-card-text>

            <v-divider></v-divider>

            <v-card-actions class="justify-end">
                <v-btn color="primary" flat
                       @click="showDialog = false">
                    Закрыть
                </v-btn>

                <v-btn
                        color="primary"
                        text
                        @click="updateSchedule()">
                    Сохранить
                </v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
    import axios from 'axios';
    import moment from 'moment';
    import {getHeaders} from '@/helpers/helpers';
    import Loader from '@/components/Loader';
    import DatePicker from "@/pages/Schedule/components/DatePicker/index.vue";
    import * as alertHelper from '@/helpers/alertsHelper';

    export default {
        props: ['show', 'day'],

        data: () => ({
            loadingData: true,
            localDay: null,
            week: [],
            now:  moment().add(-1, 'day').startOf('isoday'),
            schedule: {
                monday: false,
                tuesday: false,
                wednesday: false,
                thursday: false,
                friday: false,
                saturday: false,
                sunday: false
            },
            updated: false
        }),

        beforeMount() {
            this.localDay = this.day;
            this.getSchedule();
        },

        computed: {
            showDialog: {
                get () {
                    return this.show
                },
                set (value) {
                    if (!value) {
                        this.$emit('close');
                        if(this.updated) {
                            this.$eventHub.$emit("refresh");
                        }
                    }
                }
            }
        },

        methods: {
            getSchedule: function() {
                this.loadingData = true;
                const params = {
                    year: this.localDay.clone().year(),
                    weekNumber: this.localDay.clone().isoWeek()
                };

                const data = {
                    params,
                    ...getHeaders()
                };

                axios
                    .get(`/api/organisation/${this.$store.state.user.organisationId}/schedule`, data)
                    .then(res => {
                        this.getWeek();
                        this.schedule = res.data;
                        this.loadingData = false;
                    })
                    .catch(err => {
                        alertHelper.addErrorAlert(err.response.data.message);
                        // eslint-disable-next-line no-console
                        console.error(err);
                    })
            },

            updateSchedule: function () {
                this.loadingData = true;
                axios
                    .post(
                        `/api/organisation/${this.$store.state.user.organisationId}/schedule`,
                        this.schedule,
                        getHeaders(),
                    )
                    .then((res) => {
                        this.loadingData = false;
                        alertHelper.addSuccessAlert(res.data.notice.message);
                        this.schedule = res.data.content;
                        this.updated = true;
                    })
                    .catch(err => {
                        alertHelper.addErrorAlert(err.response.data.message);
                        // eslint-disable-next-line no-console
                        console.error(err);
                        this.loading = false;
                    });
            },

            getWeek: function() {
                let monday = this.localDay.clone().locale('en').startOf('isoweek');
                let week = [];
                week.push(monday);
                for(let i=2; i<8; i++) {
                    week.push(monday.clone().day(i));
                }

                this.week = week;
            },

            updateDay(day) {
                this.localDay = day;
                this.getSchedule();
            },

            isWeekend: function(day) {
                return [0, 6].indexOf(day.day()) !== -1;
            },

            isExpired: function(day) {
                return day.isBefore(this.now);
            },
        },

        components: {
            Loader,
            DatePicker
        }
    }
</script>
<style lang="scss" scoped>
    .label-day-of-week {
        font-weight: bold;
        color: #1976d2;

        &_weekend {
            color: crimson;
        }
    }
</style>