<template>
    <v-container fluid fill-height :class="{ 'justify-center': loading}">
        <warning-modal ref="warningModal"/>
        <Loader v-if="loading" class="loader" />
        <v-layout wrap v-else>
            <v-flex xs12>
                <v-subheader>
                    Настройки для чат-бота Telegram
                </v-subheader>

                <v-flex xs6 class="mb-3">
                    <v-card>
                        <v-card-text>
                            <v-subheader>Статус</v-subheader>
                            <v-alert
                                    :value="true"
                                    :type="statusType"
                                    outline
                            >
                                {{ statusMessage }}
                            </v-alert>

                            <div class="mb-3" />

                            <v-layout column>
                                <v-text-field
                                        :value="bot.settings.botName"
                                        @change="v => bot.settings.botName = v"
                                        @blur="$v.bot.settings.botName.$touch()"
                                        counter="30"
                                        maxlength="30"
                                        :error-messages="getErrorsMessages.bot.settings.botName"
                                        label="Наименование чат-бота"
                                />
                                <v-text-field
                                        :value="bot.settings.token"
                                        @change="v => bot.settings.token = v"
                                        @blur="$v.bot.settings.token.$touch()"
                                        :error-messages="getErrorsMessages.bot.settings.token"
                                        label="Токен"
                                />
                            </v-layout>

                        </v-card-text>

                        <v-card-actions>
                            <v-btn
                                    color="primary"
                                    @click="saveBotSettings"
                            >
                                Сохранить
                            </v-btn>
                            <v-btn
                                    color="success"
                                    @click="startBot"
                            >
                                Запустить
                            </v-btn>
                            <v-btn
                                    color="error"
                                    @click="stopBot"
                            >
                                Остановить
                            </v-btn>
                        </v-card-actions>
                    </v-card>
                </v-flex>

            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
    import axios from 'axios';
    import Loader from '@/components/Loader';
    import WarningModal from "@/components/WarningModal";
    import {getHeaders} from '@/helpers/helpers';
    import * as alertHelper from '@/helpers/alertsHelper';
    import {required} from 'vuelidate/lib/validators';
    import {validate} from "@/helpers/validation";

    export default {

        // Status from backend:
        // static final int NOT_EXIST = 1;
        // static final int NOT_WORK = 2;
        // static final int AVAILABLE = 3;

        data: () => ({
            loading: true,
            bot: {
                settings: {
                    botName: '',
                    token: '',
                },
                status: 1
            }
        }),

        computed: {
            statusMessage() {
                switch (this.status) {
                    case 2:
                        return 'Остановлен';

                    case 3:
                        return 'Включен';

                    default:
                        return 'Необходимо настроить';
                }
            },
            statusType() {
                switch (this.bot.status) {
                    case 2:
                        return 'error';

                    case 3:
                        return 'success';

                    default:
                        return 'warning';
                }
            },

            getErrorsMessages: function() {
                const errorMessages = {
                    bot: {
                        settings: {
                            botName: [],
                            token: []
                        }
                    }
                };

                if(this.$v.bot.settings.botName.$dirty) {
                    if(!this.$v.bot.settings.botName.required)
                        errorMessages.bot.settings.botName.push("Введите наименование чат-бота");
                }

                if(this.$v.bot.settings.token.$dirty) {
                    if(!this.$v.bot.settings.token.required)
                        errorMessages.bot.settings.token.push('Введите токен');
                }

                return errorMessages;
            }
        },

        validations: {
            bot: {
                settings: {
                    botName: {
                        required,
                    },

                    token: {
                        required
                    }
                }
            }
        },

        mounted() {
            this.getSettings();
        },

        methods: {
            async getSettings() {
                await axios.all([
                    axios.get(`/api/organisation/${this.$store.state.user.organisationId}/telegram`, getHeaders()),
                    axios.get(`/api/organisation/${this.$store.state.user.organisationId}/telegram/status`, getHeaders()),
                ])
                    .then(axios.spread((settings, status) => {
                        this.bot.settings = settings.data;
                        this.bot.status = status.data;
                        this.loading = false;
                    }))
                    .catch(err => {
                        this.loading = false;
                        alertHelper.addErrorAlert(err.response.data.message);
                        // eslint-disable-next-line no-console
                        console.error(err);
                    });

                this.$refs.warningModal.setStartData(this.bot);
            },

            getStatus() {
                axios
                    .get(
                        `/api/organisation/${this.$store.state.user.organisationId}/telegram/status`,
                        getHeaders(),
                    )
                    .then(status => {this.bot.status = status.data})
                    .catch(err => {
                        alertHelper.addErrorAlert(err.response.data.message);
                        // eslint-disable-next-line no-console
                        console.error(err);
                    })
            },

            async saveBotSettings() {
                if (!(await validate(this.$v.bot))) {
                    axios
                        .post(
                            `/api/organisation/${this.$store.state.user.organisationId}/telegram/register`,
                            this.bot.settings,
                            getHeaders(),
                        )
                        .then(() => {
                            this.getStatus();
                            this.$refs.warningModal.setStartData(this.bot);
                        })
                        .catch(err => {
                            alertHelper.addErrorAlert(err.response.data.message);
                            // eslint-disable-next-line no-console
                            console.error(err);
                        })
                }
            },

            startBot() {
                axios
                    .post(
                        `/api/organisation/${this.$store.state.user.organisationId}/telegram/start`,
                        null,
                        getHeaders(),
                    )
                    .then(() => {
                        this.getStatus();
                        this.$refs.warningModal.setStartData(this.bot);
                    })
                    .catch(err => {
                        alertHelper.addErrorAlert(err.response.data.message);
                        // eslint-disable-next-line no-console
                        console.error(err);
                    })
            },

            stopBot() {
                axios
                    .post(
                        `/api/organisation/${this.$store.state.user.organisationId}/telegram/stop`,
                        null,
                        getHeaders(),
                    )
                    .then(() => {
                        this.getStatus();
                        this.$refs.warningModal.setStartData(this.bot);
                    })
                    .catch(err => {
                        alertHelper.addErrorAlert(err.response.data.message);
                        // eslint-disable-next-line no-console
                        console.error(err);
                    })
            },
        },

        beforeRouteLeave(to, from, next) {
            this.$refs.warningModal.beforeLeave(to, next, this.bot);
        },


        components: {
            Loader,
            WarningModal
        },
    }
</script>

<style lang="scss" scoped>
    .loader {
        height: 85vh;
    }
</style>