<template>
  <v-container fluid fill-height :class="{ 'justify-center': loadingData}">
    <warning-modal ref="warningModal"/>
    <Loader v-if="loadingData" class="loader" :justify-self="'justify-center'"/>
    <v-layout wrap v-else>
      <v-flex xs12 class="mb-3">
        <v-subheader>Настройки для компании</v-subheader>
        <v-flex xs6 class="mb-3">
          <v-card class="cardTop">
            <v-card-text>
              <v-layout column>
                <v-text-field
                        :value="company.name"
                        counter="30"
                        maxlength="30"
                        @change="v => company.name = v"
                        @blur="$v.company.name.$touch()"
                        label="Название"
                        :error-messages="getErrorsMessages.company.name"
                />

                <v-layout justify-center>
                  <FileUploadButton @change="uploadFile" />
                </v-layout>

                <v-img
                        v-if="company.photo"
                        :src="getPhoto"
                        aspect-ratio="2.75"
                />

                <v-textarea
                        v-model="company.description"
                        counter="150"
                        rows="1"
                        maxlength="150"
                        label="Описание компании"
                />

                <v-subheader class="pl-0">Контакты</v-subheader>

                <v-text-field
                        counter="255"
                        maxlength="255"
                        v-model="company.address"
                        label="Адрес"
                />

                <v-text-field
                        :value="company.phone"
                        @change="v => company.phone = v"
                        @blur="$v.company.phone.$touch()"
                        :error-messages="getErrorsMessages.company.phone"
                        v-mask="mask.phoneNumber"
                        label="Номер телефона"
                />


                <v-text-field
                        :value="company.email"
                        @change="v => company.email = v"
                        @blur="$v.company.email.$touch()"
                        :error-messages="getErrorsMessages.company.email"
                        label="Электронная почта"
                />

                <v-subheader class="pl-0">Мессенджеры</v-subheader>

                <v-text-field
                        :value="company.whatsapp"
                        @change="v => company.whatsapp = v"
                        @blur="$v.company.whatsapp.$touch()"
                        :error-messages="getErrorsMessages.company.whatsapp"
                        v-mask="mask.phoneNumber"
                        label="Номер телефона Whatsapp"
                />

                <v-text-field
                        :value="company.telegram"
                        @change="v => company.telegram = v"
                        @blur="$v.company.telegram.$touch()"
                        :error-messages="getErrorsMessages.company.telegram"
                        hint="Вы можете использовать символы a-b, 0-9 и нижнее подчеркивание. Минимальная длина - 5 символов"
                        persistent-hint
                        counter="16"
                        maxlength="16"
                        label="Логин Telegram"
                />

                <v-text-field
                        :value="company.viber"
                        @change="v => company.viber = v"
                        @blur="$v.company.viber.$touch()"
                        :error-messages="getErrorsMessages.company.viber"
                        v-mask="mask.phoneNumber"
                        label="Номер телефона Viber"
                />

                <v-subheader class="pl-0">Социальные сети</v-subheader>

                <v-text-field
                        v-model="company.twitter"
                        prefix="https://twitter.com/"
                        label="Twitter"
                />

                <v-text-field
                        v-model="company.vk"
                        prefix="https://vk.com/"
                        label="Вконтакте"
                />

                <v-text-field
                        v-model="company.facebook"
                        prefix="https://facebook.com/"
                        label="Facebook"
                />


                <v-text-field
                        v-model="company.instagram"
                        prefix="https://instagram.com/"
                        label="Instagram"
                />


                <v-text-field
                        v-model="company.youtube"
                        prefix="https://youtube.com/"
                        label="Youtube"
                />

                <v-subheader class="pl-0">Лендинг</v-subheader>

                <v-text-field
                        :value="company.alias"
                        @change="v => company.alias = v"
                        @blur="$v.company.alias.$touch()"
                        :error-messages="getErrorsMessages.company.alias"
                        label="Адрес лендинга"
                        :prefix="landingHost"
                        counter="30"
                        maxlength="30"
                        hint="Вы можете использовать символы a-b, 0-9, тире и нижнее подчеркивание. Минимальная длина - 5 символов"
                        persistent-hint
                />
              </v-layout>
            </v-card-text>

            <v-card-actions>
              <v-btn
                      color="primary"
                      @click="submitCompany"
                      :disabled="loadingData"
              >
                Сохранить
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-flex>


        <v-subheader>Лендинг компании</v-subheader>
        <v-flex xs6>
          <v-card class="cardTop mb-0 pb-0">
            <v-card-text>
              <p>
                Лендинг компании - одностраничный сайт, на который встроен виджет онлайн записи и указаны все контактные данные компании.
              </p>

              <p>
                Укажите адрес лендинга в соц. сетях и клиенты смогут записаться онлайн
              </p>
            </v-card-text>

            <v-card-actions class="mt-0 pt-0">
              <v-btn
                      color="primary"
                      @click="openLanding()"
                      :disabled="loadingData"
              >
                Посмотреть в новом окне
              </v-btn>

              <v-btn
                      color="primary"
                      @click="submitCompany"
                      :disabled="loadingData"
                      v-clipboard="() => getLandingLink()"
              >
                Скопировать адрес
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-flex>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  import axios from 'axios';
  import {landingHost} from "@/properties";
  import Loader from '@/components/Loader';
  import {getFormDataHeaders, getHeaders} from '@/helpers/helpers';
  import * as alertHelper from '@/helpers/alertsHelper';
  import FileUploadButton from '@/components/FileUploadButton';
  import WarningModal from "@/components/WarningModal";
  import {phoneNumber as phoneNumberMask} from "@/helpers/masks";
  import {required} from 'vuelidate/lib/validators';
  import {
    email as emailValidation,
    phoneNumber as phoneNumberValidation,
    telegramLogin as telegramLoginValidation,
    urlPath as urlPathValidation,
    validate
  } from "@/helpers/validation";

  export default {
    data: () => ({
      loadingData: true,
      landingHost: landingHost,
      mask: {
        phoneNumber: phoneNumberMask
      },
      currentAlias: '',
      company: {
        name: '',
        id: null,
        photo: null,
        alias: '',
        description: '',

        // Контакты
        address: null,
        phone: null,
        email: null,

        // Мессенджеры
        whatsapp: null,
        telegram: null,
        viber: null,

        // Соц. сети:
        twitter: null,
        vk: null,
        facebook: null,
        instagram: null,
        youtube: null


      }
    }),

    validations: {
      company: {
        name: {
          required,
        },

        phone: {
          phoneNumber: phoneNumberValidation
        },

        email: {
          email: emailValidation
        },

        whatsapp: {
          phoneNumber: phoneNumberValidation
        },

        telegram: {
          telegramLogin: telegramLoginValidation
        },

        viber: {
          phoneNumber: phoneNumberValidation
        },

        alias: {
          required,
          urlPath: urlPathValidation,
          unique: async function(value) {
            if(!value) {
              return true;
            }

            return await this.isUnique(value);
          }
        }
      }
    },

    mounted() {
      this.getCompany();
    },

    computed: {
      getPhoto: function() {
        return `/storage/${this.company.photo}`;
      },

      getErrorsMessages: function() {
        const errorMessages = {
          company: {
            name: [],
            phone: [],
            email: [],
            whatsapp: [],
            telegram: [],
            viber: [],
            alias: []
          }
        };


        if(this.$v.company.name.$dirty) {
          if(!this.$v.company.name.required)
            errorMessages.company.name.push("Введите название компании");
        }

        if(this.$v.company.phone.$dirty) {
          if(!this.$v.company.phone.phoneNumber)
            errorMessages.company.phone.push('Введите корректный номер телефона');
        }

        if(this.$v.company.email.$dirty) {
          if(!this.$v.company.email.email)
            errorMessages.company.email.push('Введите корректный адрес электронной почты');
        }

        if(this.$v.company.whatsapp.$dirty) {
          if(!this.$v.company.whatsapp.phoneNumber)
            errorMessages.company.whatsapp.push('Введите корректный номер телефона')

        }

        if(this.$v.company.telegram.$dirty) {
          if(!this.$v.company.telegram.telegramLogin)
            errorMessages.company.telegram.push('Введите корректный логин для Telegram');
        }

        if(this.$v.company.viber.$dirty) {
          if(!this.$v.company.viber.phoneNumber) {
            errorMessages.company.viber.push('Введите корректный номер телефона')
          }
        }

        if(this.$v.company.alias.$dirty) {
          if(!this.$v.company.alias.required)
            errorMessages.company.alias.push('Введите адрес лендинга');

          if(!this.$v.company.alias.urlPath)
            errorMessages.company.alias.push('Введите корректный адрес лендинга');

          if(this.$v.company.alias.$error && !this.$v.company.alias.unique)
            errorMessages.company.alias.push('Адрес уже используется')
        }

        return errorMessages;
      }


    },

    methods: {
      getCompany: function() {
        this.loadingData = true;
        axios
                .get('/api/administrative/company', getHeaders())
                .then(res => {
                  this.company = res.data;
                  this.$refs.warningModal.setStartData(this.company);
                  this.currentAlias = this.company.alias;
                  this.loadingData = false;
                })
                .catch(err => {
                  alertHelper.addErrorAlert(err.response.data.message);
                  // eslint-disable-next-line no-console
                  console.error(err);
                })
      },
      submitCompany: async function() {
        if (!(await validate(this.$v.company))) {
          this.loadingData = true;

          axios
                  .put('/api/administrative/company', this.company, getHeaders())
                  .then(res => {
                    this.company = res.data.content;
                    this.currentAlias = this.company.alias;
                    this.$refs.warningModal.setStartData(res.data.content);
                    alertHelper.addSuccessAlert(res.data.notice.message);
                    this.loadingData = false;
                  })
                  .catch(err => {
                    alertHelper.addErrorAlert(err.response.data.message);
                    // eslint-disable-next-line no-console
                    console.error(err);
                    this.loadingData = false;
                  })
        } else {
          alertHelper.addBadRequestAlert();
        }
      },
      isUnique: async function (value) {
        const data = {
          params: {
            alias: value
          },
          ...getHeaders()
        };

        let response = false;

        await axios
                .get('/api/administrative/company/validator/alias', data)
                .then(res => response = res.data.available)
                .catch(err => {
                  alertHelper.addErrorAlert(err.response.data.message);
                  // eslint-disable-next-line no-console
                  console.error(err);
                });

        return response;
      },

      getLandingLink: function () {
        return this.landingHost + this.currentAlias;
      },

      openLanding: function () {
        let url = this.landingHost + this.currentAlias;
        let win = window.open(url, '_blank');
        win.focus();
      },

      uploadFile: function(e) {
        const files = e.target.files;
        if (files[0]) {
          this.loadingData = true;
          const formData = new FormData();
          formData.append('file', files[0]);
          axios
                  .post(
                          `/api/administrative/company/photo/new`,
                          formData,
                          getFormDataHeaders(),
                  )
                  .then(res => {
                    this.$set(this.company, 'photo', res.data.content.value);
                    this.loadingData = false;
                    alertHelper.addSuccessAlert(res.data.notice.message);
                  })
                  .catch(err => {
                    alertHelper.addErrorAlert(err.response.data.message);
                    // eslint-disable-next-line no-console
                    console.error(err);
                    this.service.photo = '';
                    this.loadingData = false;
                  })
        }
      },
    },

    beforeRouteLeave(to, from, next) {
      this.$refs.warningModal.beforeLeave(to, next, this.company);
    },

    components: {
      Loader,
      FileUploadButton,
      WarningModal
    },
  }
</script>

<style lang="scss" scoped>
  .loader {
    height: 85vh;
  }

  /deep/ .v-text-field__prefix {
    color: rgba(0,0,0,0.38) !important;
  }
</style>