<template>
  <v-container fluid fill-height>
    <v-layout align-center justify-center>
      <v-card class="card">
        <h1 class="titleCard" v-if="title">{{ title }}</h1>
        <div class="loader" v-if="loading">
          <v-progress-circular
            :size="50"
            color="primary"
            indeterminate
          />
        </div>
        <p class="message" v-if="message">{{ message }}</p>
        <div class="actions">
          <router-link to="/signin" class="link">
            <v-btn flat color="primary" class="link__btn">
              Войти
            </v-btn>
          </router-link>
        </div>
      </v-card>
    </v-layout>
  </v-container>
</template>

<script>
  import axios from 'axios';

  export default {
    data: () => ({
      title: 'Минуту...',
      message: '',
      loading: true,
    }),

    mounted() {
      const confirmData = {
        userId: this.$route.query.userId,
        confirmCode: this.$route.query.confirmCode,
      }

      if (!confirmData.userId || !confirmData.confirmCode) {
          this.$router.push({name: "signup"})
      }

      axios
      .post('/api/registration/confirm', confirmData)
      .then(res => {
        const { message, title } = res.data.notice;
        this.message = message;
        this.title = title;
        this.loading = false;
      })
      .catch(err => {
        const { message } = err.response.data;
        this.message = message || 'Пожалуйста, обратитесь в службу поддержки';
        this.title = 'Ошибка';
        this.loading = false;
      })
    } 
  }
</script>

<style lang="scss" scoped>
  .card {
    min-width: 336px;
    min-height: 190px;
    padding: 20px;

    .loader {
      width: 100%;
      margin: 20px 0;
      display: flex;
      justify-content: center;
    }

    .titleCard {
      text-align: center;
      margin-bottom: 20px;
    }

    .message {
      text-align: center;
    }

    .actions {
      display: flex;
      justify-content: center;
    }
    
    .link {
      text-decoration: none;
    }
  }
</style>

