<template>
  <v-container fluid fill-height>
    <v-layout row wrap>
      <v-flex xs12>
        <v-layout align-center justify-space-between row ma-2>
          <v-subheader>Сотрудники</v-subheader>
            <v-btn
              fab
              color="primary"
              @click="$router.push('/employees/new')"
            >
              <v-icon dark>add</v-icon>
            </v-btn>
        </v-layout>
        <Loader v-show="loading" />
        <v-data-table v-show="!loading"
          :headers="headers"
          :items="content"
          :pagination.sync="pagination"
          :total-items="pagination.totalItems"
          @update:pagination="getEmployees"
          class="elevation-1"
        >
          <template v-slot:items="props">
            <td style="min-width: 190px">{{ props.item.name }}</td>
            <td style="min-width: 190px">{{ props.item.email }}</td>
            <td style="min-width: 190px">{{ props.item.phoneNumber }}</td>
            <td class="justify-center layout px-0">
              <v-icon
                small
                class="mr-2"
                @click="$router.push(`/employees/${props.item.id}`)"
              >
                edit
              </v-icon>
              <v-icon
                small
                @click="deleteEmployee(props.item.id)"
              >
                delete
              </v-icon>
            </td>
          </template>
        </v-data-table>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
    import axios from 'axios';
    import {getHeaders} from '@/helpers/helpers';
    import Loader from '@/components/Loader';
    import * as alertHelper from '@/helpers/alertsHelper';

    export default {
    data: () => ({
      headers: [
        {
          text: 'ФИО',
          value: 'name',
        },
        {
          text: 'Email',
          value: 'email',
        },
        {
          text: 'Телефон',
          value: 'phoneNumber',
        },
        { text: '', value: 'name', sortable: false }
      ],
      pagination: {
        sortBy: 'name',
        descending: false,
        rowsPerPage: 10,
        totalItems: 0
      },
      content: [],
      loading: true,
    }),

    methods: {
      getEmployees: function() {
        this.loading = true;

        const params = {
          size: this.pagination.rowsPerPage,
          page: this.pagination.page - 1,
        };

        if(this.pagination.sortBy) {
          params.sort = `${this.pagination.sortBy},${this.pagination.descending ? 'desc' : 'asc'}`
        }

        const data = {
          params,
          ...getHeaders()
        };

        axios
        .get(`/api/organisation/${this.$store.state.user.organisationId}/employee`, data)
        .then(res => {
          this.pagination.totalItems = res.data.totalElements;
          this.pagination.rowsPerPage = res.data.size;
          this.content = res.data.content;
          this.loading = false;
        })
        .catch(err => {
          alertHelper.addErrorAlert(err.response.data.message);
          // eslint-disable-next-line no-console
          console.error(err);
          this.loading = false;
        })
      },
      deleteEmployee: function(id) {
        this.loading = true;
        axios
          .delete(
            `/api/organisation/${this.$store.state.user.organisationId}/employee/${id}`,
            getHeaders(),
          )
          .then((res) => {
            alertHelper.addSuccessAlert(res.data.notice.message);
            this.getEmployees();
          })
          .catch(err => {
            alertHelper.addErrorAlert(err.response.data.message);
            // eslint-disable-next-line no-console
            console.error(err);
            this.getEmployees();
          })
      },
    },

    components: {
      Loader,
    },
  }
</script>
