<template>
  <v-container fluid fill-height>
    <warning-modal ref="warningModal"/>
    <v-layout row wrap>
      <v-flex xs12>
        <v-layout align-center justify-space-between row ma-2>
          <v-subheader>{{ header }}</v-subheader>
          <v-btn outline fab color="teal" @click="$router.push('/employees')">
            <v-icon dark>arrow_back</v-icon>
          </v-btn>
        </v-layout>

        <v-flex xs8>
          <v-card>
            <v-card-text>
              <Loader v-if="loading" class="loader" />
              <v-layout column v-else>
                <v-layout class="employeeInfo">
                  <v-flex align-center justify-center layout text-xs-center xs5 lg4 column>
                    <Loader v-if="photoLoading" size="50" />
                    <v-avatar size="150" color="grey lighten-4" v-else>
                      <v-icon size="80" v-if="!employee.photo">face</v-icon>
                      <div :style="avatarStyle" v-else />
                    </v-avatar>
                    <FileUploadButton @change="uploadFile" />
                  </v-flex>

                  <v-flex>
                    <v-text-field
                      label="ФИО"
                      :value="employee.name"
                      @change="v => employee.name = v"
                      @blur="$v.employee.name.$touch()"
                      :error-messages="getErrorsMessages.employee.name"
                    />
                    <v-text-field
                      label="Email"
                      :value="employee.email"
                      @change="v => employee.email = v"
                      @blur="$v.employee.email.$touch()"
                      :error-messages="getErrorsMessages.employee.email"
                    />
                    <v-text-field
                      label="Номер телефона"
                      v-mask="mask.phoneNumber"
                      :value="employee.phoneNumber"
                      @change="v => employee.phoneNumber = v"
                      @blur="$v.employee.phoneNumber.$touch()"
                      :error-messages="getErrorsMessages.employee.phoneNumber"
                    />
                    <v-text-field
                      label="Логин Telegram"
                      :value="employee.telegramUser"
                      @change="v => employee.telegramUser = v"
                      @blur="$v.employee.telegramUser.$touch()"
                      :error-messages="getErrorsMessages.employee.telegramUser"
                      hint="Вы можете использовать символы a-b, 0-9 и нижнее подчеркивание. Минимальная длина - 5 символов"
                      persistent-hint
                      counter="16"
                      maxlength="16"
                    />
                  </v-flex>
                </v-layout>

                <v-subheader>Рабочая неделя и время работы</v-subheader>

                <v-layout row v-for="(workday, workdayIndex) in workdays" :key="workday.dayOfWeek">
                  <v-checkbox
                    :label="workday.label"
                    v-model="workday.checked"
                    class="checkbox mr-3"
                    color="primary"
                  />

                  <v-layout column v-if="workday.checked">
                    <v-layout
                      row
                      v-for="(workhour, workhourIndex) in workday.workhours"
                      :key="workhourIndex"
                    >

                      <v-text-field
                        name="from"
                        label="С"
                        prepend-icon="access_time"
                        class="mr-3"
                        mask="time"
                        v-model="workhour.from"
                        @input.native="e => changeWorkhour(e, workdayIndex, workhourIndex)"
                        @blur="e => checkTime(e, workdayIndex, workhourIndex)"
                      />

                      <v-text-field
                        name="to"
                        label="До"
                        prepend-icon="access_time"
                        class="mr-3"
                        mask="time"
                        v-model="workhour.to"
                        @input.native="e => changeWorkhour(e, workdayIndex, workhourIndex)"
                        @blur="e => checkTime(e, workdayIndex, workhourIndex)"
                      />

                      <v-btn
                        v-if="workhourIndex === 0"
                        small
                        fab
                        flat
                        color="primary"
                        @click="addWorkhours(workdayIndex)"
                        :disabled="
                            !workday.checked
                            || !workday.workhours[workhourIndex].from
                            || !workday.workhours[workhourIndex].to
                            || workday.workhours[workhourIndex].to === '23:59'
                          "
                      >
                        <v-icon dark>add</v-icon>
                      </v-btn>
                      <v-btn
                        v-else
                        small
                        fab
                        flat
                        color="error"
                        @click="removeWorkhours(workdayIndex, workhourIndex)"
                      >
                        <v-icon dark>remove</v-icon>
                      </v-btn>

                    </v-layout>
                  </v-layout>
                  <v-layout justify-center column v-else>
                    Выходной день
                  </v-layout>

                </v-layout>

                <v-subheader>Доступные услуги</v-subheader>

                <v-select
                  :items="allServices"
                  item-text="name"
                  item-value="id"
                  label="Услуги"
                  v-model="employee.services"
                  multiple
                  chips
                />
              </v-layout>
            </v-card-text>

            <v-card-actions>
              <v-btn color="primary" @click="submit" :disabled="loading">Сохранить</v-btn>
            </v-card-actions>
          </v-card>
        </v-flex>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  import axios from "axios";
  import {formatSecondsToDateByUTC, formatTimeToSecondsByUTC, getFormDataHeaders, getHeaders,} from "@/helpers/helpers";
  import Loader from "@/components/Loader";
  import FileUploadButton from "@/components/FileUploadButton";
  import WarningModal from "@/components/WarningModal";
  import * as alertHelper from "@/helpers/alertsHelper";
  import {phoneNumber as phoneNumberMask} from "@/helpers/masks";
  import {required} from "vuelidate/lib/validators";
  import {
    email as emailValidation,
    phoneNumber as phoneNumberValidation,
    telegramLogin as telegramLoginValidation,
    validate
  } from "@/helpers/validation";

  export default {
  data: () => ({
    loading: false,
    mask: {
      phoneNumber: phoneNumberMask
    },
    photoLoading: false,
    employee: {
      name: "",
      email: "",
      phoneNumber: "",
      telegramUser: "",
      workdays: [],
      services: [],
      photo: ""
    },
    allServices: [],
    workdays: [
        {
          label: 'Понедельник',
          dayOfWeek: 1,
          checked: false,
          workhours: [{
            from: '09:00',
            to: '18:00'
          }],
        },
        {
          label: 'Вторник',
          dayOfWeek: 2,
          checked: false,
          workhours: [{
            from: '09:00',
            to: '18:00'
          }],
        },
        {
          label: 'Среда',
          dayOfWeek: 3,
          checked: false,
          workhours: [{
            from: '09:00',
            to: '18:00'
          }],
        },
        {
          label: 'Четверг',
          dayOfWeek: 4,
          checked: false,
          workhours: [{
            from: '09:00',
            to: '18:00'
          }],
        },
        {
          label: 'Пятница',
          dayOfWeek: 5,
          checked: false,
          workhours: [{
            from: '09:00',
            to: '18:00'
          }],
        },
        {
          label: 'Суббота',
          dayOfWeek: 6,
          checked: false,
          workhours: [{
            from: '09:00',
            to: '18:00'
          }],
        },
        {
          label: 'Воскресенье',
          dayOfWeek: 7,
          checked: false,
          workhours: [{
            from: '09:00',
            to: '18:00'
          }],
        },
      ],
  }),

  validations: {
    employee: {
      name: {
        required
      },
      email: {
        email: emailValidation
      },
      phoneNumber: {
        phoneNumber: phoneNumberValidation
      },
      telegramUser: {
        telegramLogin: telegramLoginValidation
      },
      // workdays: {
      //   required,
      //   $each: {
      //     workhours: {
      //       required,
      //       $each: {
      //         from: time24Validation,
      //         to: time24Validation,
      //       },
      //     },
      //   },
      // },
    },
  },

  computed: {

    header: function() {
      const { id } = this.$route.params;
      if (id === "new") {
        return "Новый сотрудник";
      } else {
        return "Карточка сотрудника";
      }
    },

    avatarStyle: function() {
      return {
        backgroundImage: `url(/storage/${this.employee.photo})`,
        backgroundSize: "cover",
        backgroundPosition: "center",
        width: "150px",
        height: "150px",
        borderRadius: "50%"
      };
    },

    getErrorsMessages: function() {
      const errorMessages = {
        employee: {
          name: [],
          phoneNumber: [],
          email: [],
          telegramUser: []
        }
      };

      if (this.$v.employee.name.$dirty) {
        if (!this.$v.employee.name.required)
          errorMessages.employee.name.push("Введите ФИО сотрудника");
      }

      if (this.$v.employee.phoneNumber.$dirty) {
        if (!this.$v.employee.phoneNumber.phoneNumber)
          errorMessages.employee.phoneNumber.push(
            "Введите корректный номер телефона"
          );
      }

      if (this.$v.employee.email.$dirty) {
        if (!this.$v.employee.email.email)
          errorMessages.employee.email.push(
            "Введите корректный адрес электронной почты"
          );
      }

      if (this.$v.employee.telegramUser.$dirty) {
        if (!this.$v.employee.telegramUser.telegramLogin)
          errorMessages.employee.telegramUser.push(
            "Введите корректный логин для Telegram"
          );
      }

      return errorMessages;
    },
  },

  async mounted() {
    const { id } = this.$route.params;

    if (id !== "new") {
      await axios
        .get(
          `/api/organisation/${this.$store.state.user.organisationId}/employee/${id}`,
          getHeaders()
        )
        .then(res => {
          this.employee = {
            name: res.data.name || "",
            email: res.data.email || "",
            phoneNumber: res.data.phoneNumber || "",
            telegramUser: res.data.telegramUser || "",
            workdays: [],
            services: res.data.services || [],
            photo: res.data.photo || ""
          };
          this.workdays = res.data.workdays
            ? this.workdays.map(workday => {
                const savedWorkday = res.data.workdays.find(
                  savedWorkday => savedWorkday.dayOfWeek === workday.dayOfWeek
                );
                if (savedWorkday) {
                  return {
                    ...workday,
                    checked: true,
                    workhours: this.getWorkhoursByUTC(savedWorkday.workhours),
                  };
                }
                return workday;
              })
            : this.workdays;
        })
        .catch(err => {
          alertHelper.addErrorAlert(err.response.data.message);
          // eslint-disable-next-line no-console
          console.error(err);
        });
    }

    await axios
      .get(
        `/api/organisation/${this.$store.state.user.organisationId}/service`,
        getHeaders()
      )
      .then(res => (this.allServices = res.data.content))
      .catch(err => {
        alertHelper.addErrorAlert(err.response.data.message);
        // eslint-disable-next-line no-console
        console.error(err);
      });

    this.$refs.warningModal.setStartData(this.employee);
    this.loading = false;
  },

  methods: {

    // валидация вводимых символов
    changeWorkhour(event, workdayIndex, workhourIndex) {
      const { name } = event.target;
      let { value } = event.target;
      const chars = value.split('');

      if (chars.length) {
        const hourFirst = !/[0-2]/.test(chars[0]) ? '0' : chars[0];
        let hourSecond = chars[1];
        let minutes = chars[4] ? `${chars[3]}${chars[4]}` : chars[3];

        if (hourFirst === '2' && hourSecond && !/[0-3]/.test(chars[1])) hourSecond = '0';

        if (minutes && !/[0-5]/.test(chars[3])) minutes = '0';

        value = hourFirst;
        if (hourSecond) value += hourSecond
        if (minutes) value += `:${minutes}`;
      }

      this.$nextTick(() => {
        this.workdays[workdayIndex].workhours[workhourIndex][name] = value;
      }) 
    },

    // проверка на минимальное, максимальное время и введенные символы
    checkTime(event, workdayIndex, workhourIndex) {
      const { name } = event.target;
      let { value } = event.target;
      const chars = value.split('');

      if (!chars[0]) value += '0'
      if (!chars[1]) value += '0'
      if (!chars[2]) value += ':'
      if (!chars[3]) value += '0'
      if (!chars[4]) value += '0'

      if (workhourIndex === 0) {
        const nextTime = this.workdays[workdayIndex].workhours[workhourIndex].to;
        if (value > nextTime) value = nextTime;
      }

      if (workhourIndex && name === 'from') {
        const prevTime = this.workdays[workdayIndex].workhours[workhourIndex - 1].to;
        if (value < prevTime) value = prevTime;
      }

      if (name === 'to') {
        const prevTime = this.workdays[workdayIndex].workhours[workhourIndex].from;
        if (value < prevTime) value = prevTime;
      }

      this.$nextTick(() => {
        this.workdays[workdayIndex].workhours[workhourIndex][name] = value;
      })
    },

    addWorkhours(workdayIndex) {
      const length = this.workdays[workdayIndex].workhours.length;
      this.workdays[workdayIndex].workhours.push({
        from: this.workdays[workdayIndex].workhours[length - 1].to,
        to: '23:59'
      });
    },

    removeWorkhours(workdayIndex, workhourIndex) {
      this.workdays[workdayIndex].workhours.splice(workhourIndex, 1);
    },

    setWorkhoursByUTC(workhours) {
      return workhours.map(workhour => ({
        from: this.setFormattedTime(workhour.from),
        to: this.setFormattedTime(workhour.to),
      }))
    },

    getWorkhoursByUTC(workhours) {
      return workhours.map(workhour => ({
        from: this.getFormattedTime(workhour.from),
        to: this.getFormattedTime(workhour.to),
      }))
    },

    submit: async function() {
      if (!(await validate(this.$v.employee))) {
        this.loading = true;
        const { id } = this.$route.params;

        // сбор рабочих дней сотрудника
        this.workdays.forEach(workday => {
          if (workday.checked) {
            this.employee.workdays.push({
              dayOfWeek: workday.dayOfWeek,
              workhours: this.setWorkhoursByUTC(workday.workhours),
            });
          }
        });

        if (id === "new") {
          axios
            .post(
              `/api/organisation/${this.$store.state.user.organisationId}/employee`,
              this.employee,
              getHeaders()
            )
            .then(res => {
              this.loading = false;
              alertHelper.addSuccessAlert(res.data.notice.message)
              this.$refs.warningModal.stopCheck();
              this.$router.push("/employees");
            })
            .catch(err => {
              alertHelper.addErrorAlert(err.response.data.message);
              // eslint-disable-next-line no-console
              console.error(err);
              this.loading = false;
            });
        } else {
          axios
            .put(
              `/api/organisation/${this.$store.state.user.organisationId}/employee/${id}`,
              this.employee,
              getHeaders()
            )
            .then(res => {
              this.loading = false;
              alertHelper.addSuccessAlert(res.data.notice.message);
              this.$refs.warningModal.stopCheck();
              this.$router.push("/employees");
            })
            .catch(err => {
              alertHelper.addErrorAlert(err.response.data.message);
              // eslint-disable-next-line no-console
              console.error(err);
              this.loading = false;
            });
        }
      } else {
        alertHelper.addBadRequestAlert();
      }
    },

    setFormattedTime: function(value) {
      return formatTimeToSecondsByUTC(value);
    },

    getFormattedTime: function(value) {
      return value
        ? formatSecondsToDateByUTC(value, 'HH:mm')
        : '00:00';
    },

    uploadFile: function(e) {
      const files = e.target.files;
      if (files[0]) {
        this.loading = true;
        const formData = new FormData();
        formData.append("file", files[0]);
        axios
          .post(
            `/api/organisation/${this.$store.state.user.organisationId}/employee/photo/new`,
            formData,
            getFormDataHeaders()
          )
          .then(res => {
            this.$set(this.employee, "photo", res.data.content.value);
            this.loading = false;
            alertHelper.addSuccessAlert(res.data.notice.message);
          })
          .catch(err => {
            alertHelper.addErrorAlert(err.response.data.message);
            // eslint-disable-next-line no-console
            console.error(err);
            this.employee.photo = "";
            this.loading = false;
          });
      }
    }
  },

    beforeRouteLeave(to, from, next) {
      this.$refs.warningModal.beforeLeave(to, next, this.employee);
    },


    components: {
    Loader,
    FileUploadButton,
    WarningModal
  }
};
</script>

<style lang="scss" scoped>
.loader {
  height: 204px;
}

.checkbox {
  min-width: 130px;
}

.employeeInfo {
  height: 300px;
}
</style>

