<template>
  <Loader v-if="globalLoading" />
  <div class="app" v-else>
    <SideBar />
    <TopBar />
    <v-content>
      <alerts />
      <router-view />
    </v-content>
    <v-footer inset absolute app>
      <span class="px-3">
        &copy; {{ new Date().getFullYear() }}
        <a class="px-1" target="_blank" href="http://neartech.ru/">NearTech</a>
      </span>
    </v-footer>
  </div>
</template>

<script>
  import axios from 'axios';
  import { getHeaders } from '@/helpers/helpers';
  import { mapMutations, mapState } from 'vuex';
  import TopBar from '@/components/TopBar';
  import SideBar from '@/components/SideBar';
  import Loader from '@/components/Loader';
  import Alerts from "@/components/Alerts";

  export default {
    computed: mapState([
      'globalLoading'
    ]),

    mounted() {
      axios
      .get('/api/account/me', getHeaders())
      .then(req => {
        this.changeAuthAccess(true);
        this.setUser(req.data);
        this.setGlobalLoading(false);
        if (this.$route.path === "/") this.$router.push('/orders')
      })
      .catch(err => {
        // TODO: добавить обработчик ошибок
        // eslint-disable-next-line no-console
        console.error(err);
        this.changeAuthAccess(false);
        this.setGlobalLoading(false);
        this.$router.push('/signin');
      })
    },

    methods: {
      ...mapMutations([ 'changeAuthAccess', 'setUser', 'setGlobalLoading' ]),
    },

    components: {
      Alerts,
      TopBar,
      SideBar,
      Loader,
    },
  }
</script>

<style lang="scss" scoped>
  .app {
    width: 100%;
    height: 100%;
  }
</style>

