<template>
  <v-container fluid fill-height>
    <v-layout row wrap>
      <v-flex xs12>
        <v-layout align-center justify-space-between row ma-2>
          <v-subheader>Заказы</v-subheader>
            <v-btn
              fab
              color="primary"
              @click="$router.push('/orders/new')"
            >
              <v-icon dark>add</v-icon>
            </v-btn>
        </v-layout>

        <loader v-show="loading"></loader>
        <v-data-table v-show="!loading"
          :headers="headers"
          :items="content"
          :pagination.sync="pagination"
          :total-items="pagination.totalItems"
          @update:pagination="getOrders"
          class="elevation-1"
        >
          <template v-slot:items="props">
            <td>
              <v-btn class="status-btn" :class="'status-btn_' + props.item.status" @click="openEditStatusDialog(props.item)">
                {{statuses[props.item.status]}}
              </v-btn>

              <v-dialog
                v-model="props.item.editStatus"
                width="500"
              >
                <v-card>
                  <v-card-title
                          class="headline primary white--text justify-space-between">
                    ИЗМЕНИТЬ СТАТУС ЗАКАЗА

                    <v-btn @click="props.item.editStatus = false" icon outline color="white">
                      <v-icon class="white--text">close</v-icon>
                    </v-btn>
                  </v-card-title>

                  <v-card-text>
                    <v-radio-group v-model="props.item.newStatus">
                      <v-radio
                              v-for="(key, value) in statuses"
                              :key="value"
                              :label="key"
                              :value="value"
                              color="primary">
                      </v-radio>
                    </v-radio-group>
                  </v-card-text>

                  <v-divider></v-divider>

                  <v-card-actions class="justify-end">
                    <v-btn color="primary" flat
                           @click="props.item.editStatus = false">
                      Закрыть
                    </v-btn>

                    <v-btn
                            color="primary"
                            text
                            @click="saveNewStatus(props.item)">
                      Сохранить
                    </v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>
            </td>
            <td style="min-width: 190px">{{ props.item.createDate ? moment(props.item.createDate * 1000).format('DD.MM.YYYY HH:mm') : '' }}</td>
            <td style="min-width: 190px">{{ props.item.clientName }}</td>
            <td style="min-width: 190px">{{ props.item.clientMail }}</td>
            <td style="min-width: 190px">{{ props.item.clientPhoneNumber }}</td>
            <td style="min-width: 190px">{{ props.item.employeeName }}</td>
            <td style="min-width: 190px">{{ moment(props.item.startReservation * 1000).format('DD.MM.YYYY HH:mm') }}</td>
            <td style="min-width: 190px">{{ moment(props.item.endReservation * 1000).format('DD.MM.YYYY HH:mm') }}</td>
            <td>{{ props.item.price }}</td>
            <td class="justify-center layout px-0">
              <v-icon
                small
                @click="deleteOrders(props.item.id)"
              >
                delete
              </v-icon>
            </td>
          </template>
        </v-data-table>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  import axios from 'axios';
  import {getHeaders} from '@/helpers/helpers';
  import Loader from '@/components/Loader';
  import moment from 'moment';
  import * as alertHelper from '@/helpers/alertsHelper';

  export default {
    data: () => ({
      headers: [
        {
          text: 'Статус',
          value: 'status',
        },
        {
          text: 'Дата добавления',
          value: 'createDate',
        },
        {
          text: 'Имя',
          value: 'clientName',
        },
        {
          text: 'Email',
          value: 'clientMail',
        },
        {
          text: 'Телефон',
          value: 'clientPhoneNumber',
        },
        {
          text: 'Сотрудник',
          value: 'employee.name',
        },
        {
          text: 'Начало бронирования',
          value: 'startReservation',
        },
        {
          text: 'Конец бронирования',
          value: 'endReservation',
        },
        {
          text: 'Цена',
          value: 'price',
        },
        { text: '', value: 'name', sortable: false }
      ],
      pagination: {
        sortBy: 'createDate',
        descending: true,
        rowsPerPage: 10,
        totalItems: 0
      },
      content: [],
      statuses: {
        'NEW': 'Новый',
        'CONFIRMED': 'Подтвержден',
        'IN_WORK': 'В работе',
        'COMPLETED': 'Выполнен',
        'CANCELED': 'Отменен'
      },
      loading: true,
    }),

    methods: {
      getOrders: function() {
        this.loading = true;

        const params = {
          size: this.pagination.rowsPerPage,
          page: this.pagination.page - 1,
        };

        if(this.pagination.sortBy) {
          params.sort = `${this.pagination.sortBy},${this.pagination.descending ? 'desc' : 'asc'}`
        }

        const ordersData = {
          params,
          ...getHeaders()
        };

        axios.get(`/api/organisation/${this.$store.state.user.organisationId}/employee/reservation`, ordersData)
        .then(res => {
          this.pagination.totalItems = res.data.totalElements;
          this.pagination.rowsPerPage = res.data.size;

          this.content = res.data.content.map(item => {
            item.editStatus=false;
            return item;
          });
          this.loading = false;
        })
        .catch(err => {
          alertHelper.addErrorAlert(err.response.data.message);
          // eslint-disable-next-line no-console
          console.error(err);
          this.loading = false;
        })
      },

      deleteOrders: function(id) {
        this.loading = true;
        axios
          .delete(
            `/api/organisation/${this.$store.state.user.organisationId}/employee/reservation/${id}`,
            getHeaders(),
          )
          .then(res => {
            alertHelper.addSuccessAlert(res.data.notice.message);
            this.getOrders();
          })
          .catch(err => {
            alertHelper.addErrorAlert(err.response.data.message);
            // eslint-disable-next-line no-console
            console.error(err);
            this.getOrders();
          })
      },

      openEditStatusDialog(item) {
        item.editStatus = true;
        item.newStatus = item.status;
      },

      saveNewStatus(item) {
        this.loading = true;
        axios.patch(
                `/api/organisation/${this.$store.state.user.organisationId}/employee/reservation/${item.id}/status/${item.newStatus}`,
                null,
                getHeaders()
        ).then(res => {
          alertHelper.addSuccessAlert(res.data.notice.message);
          this.getOrders();
        }).catch(err => {
          alertHelper.addErrorAlert(err.response.data.message);
          // eslint-disable-next-line no-console
          console.error(err);
          this.getOrders();
        });
      },

      moment,
    },

    components: {
      Loader,
    },
  }
</script>
<style lang="scss" scoped>
  .status-btn {

    color: white !important;
    margin: 0 !important;
    width: 100px;
    font-size: 10px;

    &_NEW {
      background: cornflowerblue !important;
    }

    &_CONFIRMED {
      background: green !important;
    }

    &_IN_WORK {
      background: orange !important;
    }

    &_COMPLETED {
      background: darkred !important;
    }

    &_CANCELED {
      background: darkgrey !important;
    }

    &_DELETED {
      background: red !important;
    }

    &__icon {
      font-size: 13px;
      margin: 0;
    }

  }
</style>