<template>
  <v-container fluid fill-height>
    <v-layout row wrap>
      <v-flex xs12>
        <v-layout align-center justify-space-between row ma-2>
          <v-subheader>
            Новый заказ
          </v-subheader>
            <v-btn
              outline
              fab
              color="teal"
              @click="$router.push('/orders')"
            >
              <v-icon dark>arrow_back</v-icon>
            </v-btn>
        </v-layout>

        <v-flex xs6>
          <v-card>
            <v-card-text>
              <Loader v-if="loading" class="loader" />
              <v-layout column v-else>
                <v-form ref="form" lazy-validation>

                  <v-list subheader two-line>
                    <v-subheader>Доступные услуги</v-subheader>
                    <v-list-tile
                      v-for="service in services"
                      :key="service.id"
                      ripple
                      @click="setService(service)"
                    >

                      <v-list-tile-content>
                        <v-list-tile-title>
                          {{ service.name }}
                        </v-list-tile-title>
                        <v-list-tile-sub-title v-if="service.description">
                          {{ service.description }}
                        </v-list-tile-sub-title>
                      </v-list-tile-content>

                    </v-list-tile>
                  </v-list>

                  <v-list subheader v-if="addedServices.length">
                    <v-subheader>Выбранные услуги</v-subheader>
                    <v-list-tile
                      v-for="addedService in addedServices"
                      :key="addedService.id"
                    >

                      <v-list-tile-content>
                        <v-list-tile-sub-title>
                          <v-btn
                            small
                            fab
                            flat
                            color="error"
                            @click="removeService(addedService)"
                          >
                            <v-icon dark>remove</v-icon>
                          </v-btn>
                          {{ addedService.name }}
                        </v-list-tile-sub-title>
                      </v-list-tile-content>

                    </v-list-tile>
                  </v-list>

                  <v-menu
                    v-model="workdayMenu"
                    :close-on-content-click="false"
                    :nudge-right="40"
                    lazy
                    transition="scale-transition"
                    offset-y
                    full-width
                    min-width="290px"
                  >
                    <template v-slot:activator="{ on }">
                      <v-text-field
                        :value="workdayFormatted"
                        label="Дата"
                        readonly
                        v-on="on"
                        :rules="[value => !!value || 'Обязательное поле']"
                        :disabled="!addedServices.length"
                      />
                    </template>
                    <v-date-picker
                      v-model="workday"
                      :allowed-dates="allowedDates"
                      :min="startСalendar"
                      @input="workdayMenu = false"
                      locale="ru-Ru"
                      first-day-of-week="1"
                    />
                  </v-menu>

                  <v-select
                    v-model="checkedWorktime"
                    :items="worktime"
                    :label="worktimeMessage"
                    :disabled="disabledWorktime"
                  />

                  <v-select
                    :items="employees"
                    item-text="name"
                    item-value="id"
                    label="Сотрудник"
                    v-model="order.employeeId"
                    :disabled="!employees.length"
                  />

                  <v-text-field
                    label="Имя"
                    v-model="order.clientName"
                    :rules="[value => !!value || 'Обязательное поле']"
                  />

                  <v-text-field
                    label="Email"
                    v-model="order.clientMail"
                  />

                  <v-text-field
                    label="Номер телефона"
                    :rules="[value => !!value || 'Обязательное поле']"
                    v-model="order.clientPhoneNumber"
                  />

                </v-form>
              </v-layout>
            </v-card-text>

            <v-card-actions>
              <v-btn
                color="primary"
                @click="submit"
                :disabled="loading"
              >
                Сохранить
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-flex>
        
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  import axios from 'axios';
  import moment from 'moment';
  import qs from 'qs';
  import {
    getHeaders,
    formatDatePickerToDate,
    formatSecondsToDateByUTC,
    formatTimeToSecondsByUTC,
  } from '@/helpers/helpers';
  import Loader from '@/components/Loader';
  import * as alertHelper from '@/helpers/alertsHelper';

  export default {
    data: () => ({
      loading: true,
      order: {
        clientMail: '',
        clientName: '',
        clientPhoneNumber: '',
        employeeId: null,
        servicesIds: [],
        startReservation: 0,
      },
      services: [],
      addedServices: [],
      workdays: [],
      workday: '',
      workdayFormatted: '',
      workdayMenu: false,
      startСalendar: moment().startOf('month').format('YYYY-MM-DD'),
      worktime: [],
      worktimeMessage: 'Время',
      checkedWorktime: '',
      employees: [],
    }),

    watch: {
      addedServices() {
        this.getServices();

        // сброс последующих настроек, если они были
        this.workday = '';
        this.worktime = [];
        this.checkedWorktime = '';
        this.order.employeeId = null;
        this.employees = [];
        
        if (this.addedServices.length) {
          this.getWorkdays();
        }
      },

      workday() {
        this.workdayFormatted = this.workday ? moment(this.workday).format('DD.MM.YYYY') : '';
        if (this.addedServices.length) {
          this.getWorktime();
        }
      },

      checkedWorktime() {
        const timestamp = this.getTimestamp();
        if (timestamp) {
          this.getEmployee(timestamp);
        }
      },
    },

    computed: {
      filtredServices() {
        if (this.servicesByEmployee.length) {
          return this.servicesByEmployee.map(id => {
            return this.services.find(service => service.id === id);
          });
        }
        return [];
      },

      disabledWorktime() {
        return !this.addedServices.length || !this.workday || !this.worktime.length;
      },
    },

    async mounted() {
      axios.get(`/api/organisation/${this.$store.state.user.organisationId}/service/widget`)
      .then(res => this.services = res.data)
      this.loading = false;
    },

    methods: {
      submit: function() {
        if (this.$refs.form.validate()) {
          this.loading = true;
          axios
            .post(
              `/api/organisation/${this.$store.state.user.organisationId}/employee/reservation/widget`,
              {
                ...this.order,
                servicesIds: this.addedServices.map(service => service.id),
                startReservation: this.getTimestamp(),
              },
              getHeaders(),
            )
            .then(res => {
              alertHelper.addSuccessAlert(res.data.notice.message);
              this.loading = false;
              this.$router.push('/orders');
            })
            .catch(err => {
              alertHelper.addErrorAlert(err.response.data.message);
              // eslint-disable-next-line no-console
              console.error(err);
              this.loading = false;
            })
        }
      },

      allowedDates(date) {
        const formatDate = formatDatePickerToDate(date);
        const foundWeekend = this.workdays.find(workday => workday === formatDate);
        if (foundWeekend) return foundWeekend;
      },

      setService(service) {
        this.addedServices.push(service);
      },

      removeService(service) {
        this.addedServices = this.addedServices.filter(addedService => addedService.id !== service.id);
      },

      getServices() {
        axios.get(
          `/api/organisation/${this.$store.state.user.organisationId}/service/widget`,
          {
            params: {
              servicesIds: this.addedServices.map(service => service.id),
            },
            paramsSerializer: params => {
              return qs.stringify(params, {arrayFormat: 'repeat'})
            },
          },
        )
        .then(res => this.services = res.data)
        .catch(() => this.services = [])
      },

      getWorkdays() {
        axios
        .get(
          `/api/organisation/${this.$store.state.user.organisationId}/workday/widget`,
          {
            params: {
              servicesIds: this.addedServices.map(service => service.id),
            },
            paramsSerializer: params => {
              return qs.stringify(params, {arrayFormat: 'repeat'})
            },
          },
        )
        .then(res => this.workdays = res.data)
        .catch(() => this.workdays = [])
      },

      getWorktime() {
        axios
        .get(
          `/api/organisation/${this.$store.state.user.organisationId}/timeinterval/widget`,
          {
            params: {
              date: formatDatePickerToDate(this.workday),
              servicesIds: this.addedServices.map(service => service.id),
            },
            paramsSerializer: params => {
              return qs.stringify(params, {arrayFormat: 'repeat'})
            },
          },
        )
        .then(res => {
          const { data } = res;
          this.worktime = data.map(worktime => formatSecondsToDateByUTC(worktime, 'HH:mm'));
          this.worktimeMessage = 'Время'
          this.checkedWorktime = '';
        })
        .catch(err => {
          this.worktime = [];
          if (err.response.status === 404) {
            this.worktimeMessage = 'Нет свободного времени';
            this.checkedWorktime = '';
          } else {
            alertHelper.addErrorAlert(err.response.data.message);
          }
        })
      },

      getEmployee() {
        axios
        .get(
          `/api/organisation/${this.$store.state.user.organisationId}/employee/widget`,
          {
            params: {
              timestamp: this.getTimestamp(),
              servicesIds: this.addedServices.map(service => service.id),
            },
            paramsSerializer: params => {
              return qs.stringify(params, {arrayFormat: 'repeat'})
            },
          },
        )
        .then(res => this.employees = res.data)
        .catch(err => {
          alertHelper.addErrorAlert(err.response.data.message);
          // eslint-disable-next-line no-console
          console.error(err);
          this.employees = [];
        })
      },

      getTimestamp() {
        return formatDatePickerToDate(this.workday) * 86400 + formatTimeToSecondsByUTC(this.checkedWorktime)
      },

    },

    components: {
      Loader,
    },

  }
</script>

<style lang="scss" scoped>
  .loader {
    height: 486px;
  }
</style>
