<template>
  <v-container fluid fill-height :class="{ 'justify-center': loadingData}">
    <warning-modal ref="warningModal"/>

    <Loader v-if="loadingData" class="loader" />
    <v-layout row wrap v-else>
      <v-flex xs12 >

        <v-subheader >Настройки профиля</v-subheader>
        <v-flex xs6>
          <v-card class="card cardTop">
            <v-card-text>
              <v-layout column>
                <v-form ref="userForm" lazy-validation>
                  <v-text-field
                    v-model="user.email"
                    label="Email"
                    disabled
                  />
                  <v-text-field
                    :value="user.name"
                    @change="v => user.name = v"
                    @blur="$v.user.name.$touch()"
                    :error-messages="getErrorsMessages.user.name"
                    label="Имя"
                  />
                </v-form>
              </v-layout>
            </v-card-text>

            <v-card-actions>
              <v-btn
                color="primary"
                @click="submitUser">
                Сохранить
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-flex>

        <v-subheader >Изменение пароля</v-subheader>
        <v-flex xs6>
          <v-card class="card">
            <v-card-text>
              <v-layout column>
                <v-text-field
                        :value="password.currentPassword"
                        @change="v => password.currentPassword = v"
                        @blur="$v.password.currentPassword.$touch()"
                        :error-messages="getErrorsMessages.password.currentPassword"
                        label="Текущий пароль"
                        name="currentPassword"
                        :append-icon="showCurrentPassword ? 'visibility' : 'visibility_off'"
                        :type="showCurrentPassword ? 'text' : 'password'"
                        @click:append="showCurrentPassword = !showCurrentPassword"

                />
                <v-text-field
                        :value="password.newPassword"
                        @change="v => password.newPassword = v"
                        @blur="$v.password.newPassword.$touch()"
                        :error-messages="getErrorsMessages.password.newPassword"
                        label="Новый пароль"
                        name="newPassword"
                        :append-icon="showNewPassword ? 'visibility' : 'visibility_off'"
                        :type="showNewPassword ? 'text' : 'password'"
                        @click:append="showNewPassword = !showNewPassword"
                        hint="Вы можете использовать символы a-b, 0-9. Минимальная длина - 6 символов"
                        persistent-hint
                        maxlength="20"
                />
                <v-text-field
                        :value="password.confirmPassword"
                        @change="v => password.confirmPassword = v"
                        @blur="$v.password.confirmPassword.$touch()"
                        :error-messages="getErrorsMessages.password.confirmPassword"
                        label="Подтвердите новый пароль"
                        name="confirmPassword"
                        :append-icon="showConfirmPassword ? 'visibility' : 'visibility_off'"
                        :type="showConfirmPassword ? 'text' : 'password'"
                        @click:append="showConfirmPassword = !showConfirmPassword"
                />
              </v-layout>
            </v-card-text>

            <v-card-actions>
              <v-btn
                color="primary"
                @click="submitNewPassword">
                Сохранить
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-flex>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  import axios from 'axios';
  import {mapMutations} from 'vuex';
  import {getHeaders} from '@/helpers/helpers';
  import Loader from '@/components/Loader';
  import WarningModal from "@/components/WarningModal";
  import * as alertHelper from '@/helpers/alertsHelper';
  import {required, sameAs} from 'vuelidate/lib/validators'
  import {password as passwordValidation, validate} from "@/helpers/validation";

  export default {
    data: () => ({
      loadingData: true,
      password: {
        currentPassword: '',
        newPassword: '',
        confirmPassword: '',
      },
      showNewPassword: false,
      showConfirmPassword: false,
      showCurrentPassword: false,
      user: {
        id: '',
        name: '',
        email: '',
      },
    }),

    validations: {
      user: {
        name: {
          required
        }
      },

      password: {
        currentPassword: {
          required,
          password: passwordValidation
        },
        newPassword: {
          required,
          password: passwordValidation
        },
        confirmPassword: {
          required,
          password: passwordValidation,
          sameAs: sameAs('newPassword')
        },
      }
    },

    computed: {
      getErrorsMessages: function () {
        const errorMessages = {
          user: {
            name: []
          },
          password: {
            currentPassword: [],
            newPassword: [],
            confirmPassword: []
          }
        };

        if(this.$v.user.name.$dirty) {
          if(!this.$v.user.name.required)
            errorMessages.user.name.push("Введите имя");
        }

        if (this.$v.password.currentPassword.$dirty) {
          if (!this.$v.password.currentPassword.required)
            errorMessages.password.currentPassword.push("Введите текущий пароль");

          if (!this.$v.password.currentPassword.password)
            errorMessages.password.currentPassword.push("Введите корректный пароль");
        }

        if (this.$v.password.newPassword.$dirty) {
          if (!this.$v.password.newPassword.required)
            errorMessages.password.newPassword.push("Введите новый пароль");

          if (!this.$v.password.newPassword.password)
            errorMessages.password.newPassword.push("Введите корректный пароль");
        }

        if (this.$v.password.confirmPassword.$dirty) {
          if (!this.$v.password.confirmPassword.required)
            errorMessages.password.confirmPassword.push("Подтвердите пароль");

          if(this.password.newPassword &&
             !this.$v.password.newPassword.$invalid &&
             !this.$v.password.confirmPassword.sameAs) {
            errorMessages.password.confirmPassword.push("Новый пароль и подтверждение должны совпадать");
          }
        }

        return errorMessages;
      }
    },

    mounted() {
      axios
      .get('/api/account/me', getHeaders())
      .then(res => {
        this.user = res.data;
        this.$refs.warningModal.setStartData(this.user);
        this.loadingData = false;
      })
      .catch(err => {
        alertHelper.addErrorAlert(err.response.data.message);
        // eslint-disable-next-line no-console
        console.error(err);
        this.loadingData = false;
      })
    },

    methods: {
      submitUser: async function() {
        if (!(await validate(this.$v.user))) {
          this.loadingData = true;
          axios.put('/api/account/personal', {
            name: this.user.name,
          }, getHeaders())
          .then(res => {
            this.setUser(res.data.content);
            alertHelper.addSuccessAlert(res.data.notice.message);
            this.$refs.warningModal.setStartData(this.user);
            this.loadingData = false;
          })
          .catch(err => {
            alertHelper.addErrorAlert(err.response.data.message);
            // eslint-disable-next-line no-console
            console.error(err);
            this.loadingData = false;
          })
        } else {
          alertHelper.addBadRequestAlert();
        }
      },
      submitNewPassword: async function() {
        if (!(await validate(this.$v.password))) {
          this.loadingData = true;
          axios.put('/api/account/password', this.password, getHeaders())
                  .then(res => {
                    alertHelper.addSuccessAlert(res.data.notice.message);
                    this.password = {
                      currentPassword: '',
                      newPassword: '',
                      confirmPassword: ''
                    };
                    this.$v.password.$reset();
                    this.loadingData = false;
                  })
                  .catch(err => {
                    alertHelper.addErrorAlert(err.response.data.message);
                    // eslint-disable-next-line no-console
                    console.error(err.response);
                    this.loadingData = false;
                  });
        } else {
          alertHelper.addBadRequestAlert();
        }

      },

      ...mapMutations([ 'setUser' ]),
    },

    beforeRouteLeave(to, from, next) {
      this.$refs.warningModal.beforeLeave(to, next, this.user);
    },

    components: {
      Loader,
      WarningModal
    },
  }
</script>

<style lang="scss" scoped>
  .title {
    margin-bottom: 40px;
  }

  .card {
    &Top {
      margin-bottom: 20px;
    }
  }

  .loader {
    height: 85vh;
  }
</style>

