<template>
  <v-container fluid fill-height>
    <v-layout row wrap>
      <v-flex xs12>
        <v-layout align-center justify-space-between row ma-2>
          <v-subheader>Услуги</v-subheader>
            <v-btn
              fab
              color="primary"
              @click="$router.push('/services/new')"
            >
              <v-icon dark>add</v-icon>
            </v-btn>
        </v-layout>
        <Loader v-show="loading" />
        <v-data-table v-show="!loading"
          :headers="headers"
          :items="content"
          :pagination.sync="pagination"
          :total-items="pagination.totalItems"
          @update:pagination="getServices"
          class="elevation-1"
        >
          <template v-slot:items="props">
            <td style="min-width: 190px">{{ props.item.name }}</td>
            <td style="min-width: 190px">{{ props.item.description }}</td>
            <td style="min-width: 190px">{{ props.item.price }}</td>
            <td style="min-width: 190px">{{ getFormattedTime(props.item.duration) }}</td>
            <td class="justify-center layout px-0">
              <v-icon
                small
                class="mr-2"
                @click="$router.push(`/services/${props.item.id}`)"
              >
                edit
              </v-icon>
              <v-icon
                small
                @click="deleteService(props.item.id)"
              >
                delete
              </v-icon>
            </td>
          </template>
        </v-data-table>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  import axios from 'axios';
  import moment from 'moment';
  import 'moment-duration-format';
  import {getHeaders} from '@/helpers/helpers';
  import Loader from '@/components/Loader';
  import * as alertHelper from '@/helpers/alertsHelper';

  export default {
    data: () => ({
      headers: [
        {
          text: 'Название',
          value: 'name',
        },
        {
          text: 'Описание',
          value: 'description',
        },
        {
          text: 'Цена',
          value: 'price',
        },
        {
          text: 'Продолжительность',
          value: 'duration',
        },
        { text: '', value: 'name', sortable: false }
      ],
      pagination: {
        sortBy: 'name',
        descending: false,
        rowsPerPage: 10,
        totalItems: 0
      },
      content: [],
      loading: true,
    }),

    methods: {
      getServices: function() {
        this.loading = true;

        const params = {
          size: this.pagination.rowsPerPage,
          page: this.pagination.page - 1,
        };

        if(this.pagination.sortBy) {
          params.sort = `${this.pagination.sortBy},${this.pagination.descending ? 'desc' : 'asc'}`
        }

        const data = {
          params,
          ...getHeaders()
        };

        axios
        .get(`/api/organisation/${this.$store.state.user.organisationId}/service`, data)
        .then(res => {
          this.content = res.data.content;
          this.loading = false;
        })
        .catch(err => {
          alertHelper.addErrorAlert(err.response.data.message);
          // eslint-disable-next-line no-console
          console.error(err);
          this.loading = false;
        })
      },
      deleteService: function(id) {
        this.loading = true;
        axios
          .delete(
            `/api/organisation/${this.$store.state.user.organisationId}/service/${id}`,
            getHeaders(),
          )
          .then(res => {
            alertHelper.addSuccessAlert(res.data.notice.message);
            this.getServices();
          })
          .catch(err => {
            alertHelper.addErrorAlert(err.response.data.message);
            // eslint-disable-next-line no-console
            console.error(err);
            this.getServices();
          })
      },
      getFormattedTime: function(timestamp) {
        return moment.duration(timestamp, 'seconds').format('hh ч mm мин');
      },
    },

    components: {
      Loader,
    },
  }
</script>
