<template>
  <v-container fluid fill-height>
    <warning-modal ref="warningModal"/>

    <v-layout row wrap>
      <v-flex xs12>
        <v-layout align-center justify-space-between row ma-2>
          <v-subheader>
            {{ header }}
          </v-subheader>
            <v-btn
              outline
              fab
              color="teal"
              @click="$router.push('/services')"
            >
              <v-icon dark>arrow_back</v-icon>
            </v-btn>
        </v-layout>

        <v-flex xs6>
          <v-card>
            <v-card-text>
              <Loader v-if="loading" class="loader" />
              <v-layout column v-else>
                <v-text-field
                        label="Название"
                        counter="80"
                        maxlength="80"
                        :value="service.name"
                        @change="v => service.name = v"
                        @blur="$v.service.name.$touch()"
                        :error-messages="getErrorsMessages.service.name"
                />
                <v-text-field
                        label="Описание"
                        counter="255"
                        maxlength="255"
                        :value="service.description"
                        @change="v => service.description = v"
                />
                <v-text-field
                        label="Цена"
                        :value="service.price"
                        @change="v => service.price = v"
                        type="number"
                        @blur="$v.service.price.$touch()"
                        :error-messages="getErrorsMessages.service.price"
                />
                <v-menu
                        ref="timeMenu"
                        v-model="timeMenu"
                        :close-on-content-click="false"
                        :return-value.sync="service.duration"
                        lazy
                        transition="scale-transition"
                        offset-y
                        full-width
                        max-width="290px"
                        min-width="290px"
                >
                  <template v-slot:activator="{ on }">
                    <v-text-field
                            v-model="service.duration"
                            @blur="$v.service.duration.$touch()"
                            :error-messages="getErrorsMessages.service.duration"
                            label="Продолжительность (часы/минуты)"
                            readonly
                            v-on="on"
                    ></v-text-field>
                  </template>
                  <v-time-picker
                          v-if="timeMenu"
                          v-model="service.duration"
                          full-width
                          format="24hr"
                          :allowed-minutes="allowedMinutes"
                          @click:minute="$refs.timeMenu.save(service.duration)"
                  ></v-time-picker>
                </v-menu>

                <v-layout justify-center>
                  <FileUploadButton @change="uploadFile" />
                </v-layout>

                <v-img
                        v-if="service.photo"
                        :src="getPhoto"
                        aspect-ratio="2.75"
                />
              </v-layout>
            </v-card-text>

            <v-card-actions>
              <v-btn
                color="primary"
                @click="submit"
                :disabled="loading"
              >
                Сохранить
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-flex>
        
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
    import axios from 'axios';
    import moment from 'moment';
    import {getFormDataHeaders, getHeaders} from '@/helpers/helpers';
    import Loader from '@/components/Loader';
    import FileUploadButton from '@/components/FileUploadButton';
    import WarningModal from "@/components/WarningModal";
    import * as alertHelper from '@/helpers/alertsHelper';
    import {minValue, not, required} from 'vuelidate/lib/validators'
    import {validate} from "@/helpers/validation";


    export default {
    data: () => ({
      loading: true,
      service: {
        description: '',
        duration: null,
        name: '',
        price: 0,
        photo: '',
      },
      timeMenu: false,
      allowedMinutes: m => m % 5 === 0,
    }),

    computed: {
      header: function() {
        const { id } = this.$route.params;
        if (id === 'new') {
          return 'Создание новой услуги';
        } else {
          return 'Редактирование услуги';
        }
      },
      getPhoto: function() {
        return `/storage/${this.service.photo}`;
      },

      getErrorsMessages: function() {
        const errorMessages = {
          service: {
            name: [],
            duration: [],
            price: []
          }
        };


        if(this.$v.service.name.$dirty) {
          if(!this.$v.service.name.required)
            errorMessages.service.name.push("Введите название услуги");

          // check error need for async
          if(this.$v.service.name.$error && !this.$v.service.name.unique)
            errorMessages.service.name.push("Название услуги должно быть уникальным");
        }

        if(this.$v.service.duration.$dirty) {
          if(!this.$v.service.duration.required)
            errorMessages.service.duration.push('Укажите продолжнительность услуги');

          if(!this.$v.service.duration.not) {
            errorMessages.service.duration.push('Продолжительность услуги должна быть больше 00:00');
          }
        }

        if(this.$v.service.price.$dirty) {
          if(!this.$v.service.price.required)
            errorMessages.service.price.push('Введите стоимость услуги');

          if(!this.$v.service.price.minValue)
            errorMessages.service.price.push('Стоимость услуги должна быть больше 0');
        }

        return errorMessages;
      }
    },

    validations: {
        service: {
          name: {
            required,

            unique: async function(value) {
              if(!value) {
                return true;
              }

              return await this.isAvailableName(value);
            }
          },
          duration: {
            required,
            not: not(model => model === '00:00')
          },
          price: {
            required,
            minValue: minValue(1)
          }
        }
    },

    async mounted() {
      const { id } = this.$route.params;
      if (id !== 'new') {
        await axios
          .get(
            `/api/organisation/${this.$store.state.user.organisationId}/service/${id}`,
            getHeaders(),
          )
          .then(res => {
            this.loading = false;
            this.service = {
              ...res.data,
              duration: this.getFormattedTime(res.data.duration),
            };
          })
          .catch(err => {
            alertHelper.addErrorAlert(err.response.data.message);
            // eslint-disable-next-line no-console
            console.error(err);
          })
      }
      this.$refs.warningModal.setStartData(this.service);
      this.loading = false;
    },

    methods: {
      submit: async function() {
        if (!(await validate(this.$v.service))) {
          this.loading = true;
          const { id } = this.$route.params;
          if (id === 'new') {
            axios
              .post(
                `/api/organisation/${this.$store.state.user.organisationId}/service`,
                {
                  ...this.service,
                  duration: this.setFormattedTime(this.service.duration),
                },
                getHeaders(),
              )
              .then(res => {
                this.loading = false;
                alertHelper.addSuccessAlert(res.data.notice.message);
                this.$refs.warningModal.stopCheck();
                this.$router.push('/services');
              })
              .catch(err => {
                alertHelper.addErrorAlert(err.response.data.message);
                // eslint-disable-next-line no-console
                console.error(err);
                this.loading = false;
              })
          } else {
            axios
              .put(
                `/api/organisation/${this.$store.state.user.organisationId}/service/${id}`,
                {
                  ...this.service,
                  duration: this.setFormattedTime(this.service.duration),
                },
                getHeaders(),
              )
              .then(res => {
                this.loading = false;
                alertHelper.addSuccessAlert(res.data.notice.message);
                this.$refs.warningModal.stopCheck();
                this.$router.push('/services');
              })
              .catch(err => {
                if(err.response.status === 400) {
                  this.errorMessages = err.response.data.payload;
                }
                alertHelper.addErrorAlert(err.response.data.message);
                // eslint-disable-next-line no-console
                console.error(err);
                this.loading = false;
              })
          }
        } else {
          alertHelper.addBadRequestAlert();
        }
      },

      setFormattedTime: function(value) {
        return moment(value, 'hh:mm').diff(moment().startOf('day'), 'seconds');
      },

      getFormattedTime: function(value) {
        return value ? moment().startOf('day').seconds(value).format('HH:mm') : '';
      },

      uploadFile: function(e) {
        const files = e.target.files;
        if (files[0]) {
          this.loading = true;
          const formData = new FormData();
          formData.append('file', files[0]);
          axios
          .post(
            `/api/organisation/${this.$store.state.user.organisationId}/service/photo/new`,
            formData,
            getFormDataHeaders(),
          )
          .then(res => {
            this.$set(this.service, 'photo', res.data.content.value);
            this.loading = false;
            alertHelper.addSuccessAlert(res.data.notice.message);
          })
          .catch(err => {
            alertHelper.addErrorAlert(err.response.data.message);
            // eslint-disable-next-line no-console
            console.error(err);
            this.service.photo = '';
            this.loading = false;
          })
        }
      },

      isAvailableName: function(value) {
        const { id } = this.$route.params;

        const data = {
          params: {
            name: value,
            currentId: id !== 'new' ? id : null
          },
          ...getHeaders()
        };

        return axios
                .get(`/api/organisation/${this.$store.state.user.organisationId}/service/validator/name`, data)
                .then(res => res.data.available)
                .catch(err => {
                  alertHelper.addErrorAlert(err.response.data.message);
                  // eslint-disable-next-line no-console
                  console.error(err);
                });
      }
    },

    beforeRouteLeave(to, from, next) {
      this.$refs.warningModal.beforeLeave(to, next);
    },


    components: {
      Loader,
      FileUploadButton,
      WarningModal
    },
  }
</script>

<style lang="scss" scoped>
  .loader {
    height: 272px;
  }
</style>

