<template>
  <v-container fluid fill-height>
    <v-layout align-center justify-center>
      <v-card class="card">
        <v-card-title primary-title>
          <h1 class="titleCard">Регистрация</h1>
        </v-card-title>

        <v-card-text v-if="type === 'registration'">
          <v-alert
                  :value="errorMessage"
                  class="alert"
                  :disabled="pending"
                  outline
          >
            {{ errorMessage }}
          </v-alert>

          <v-text-field
                  label="Имя"
                  :value="registrationDto.name"
                  @change="v => registrationDto.name = v"
                  @blur="$v.registrationDto.name.$touch()"
                  :error-messages="getErrorsMessages.registrationDto.name"
          ></v-text-field>

          <v-text-field
                  :value="registrationDto.email"
                  @change="v => registrationDto.email = v"
                  @blur="$v.registrationDto.email.$touch()"
                  :error-messages="getErrorsMessages.registrationDto.email"
                  label="Электронная почта"
          ></v-text-field>

          <v-text-field
                  :value="registrationDto.password"
                  @change="v => registrationDto.password = v"
                  @blur="$v.registrationDto.password.$touch()"
                  :error-messages="getErrorsMessages.registrationDto.password"
                  label="Пароль"
                  hint="Вы можете использовать символы a-b, 0-9. Минимальная длина - 6 символов"
                  persistent-hint
                  maxlength="20"
                  :append-icon="showPassword ? 'visibility' : 'visibility_off'"
                  :type="showPassword ? 'text' : 'password'"
                  @click:append="showPassword = !showPassword"

          ></v-text-field>

          <v-text-field
                  :value="registrationDto.confirmPassword"
                  @change="v => registrationDto.confirmPassword = v"
                  @blur="$v.registrationDto.confirmPassword.$touch()"
                  :error-messages="getErrorsMessages.registrationDto.confirmPassword"
                  label="Подтвердите пароль"
                  maxlength="20"
                  :append-icon="showConfirmPassword ? 'visibility' : 'visibility_off'"
                  :type="showConfirmPassword ? 'text' : 'password'"
                  @click:append="showConfirmPassword = !showConfirmPassword"
          ></v-text-field>

          <v-checkbox
                  :value="registrationDto.isAgree"
                  @change="v => registrationDto.isAgree = v"
                  @blur="$v.registrationDto.confirmPassword.$touch()"
                  :error-messages="getErrorsMessages.registrationDto.isAgree"
                  label="Cогласие на обработку данных"
          ></v-checkbox>

          <Captcha
                  ref="recaptcha"
                  :error-messages="getErrorsMessages.captchaResponse"
                  :checkCaptcha="checkCaptcha"
          />
        </v-card-text>

        <v-card-text v-if="type === 'success'">
          <p class="card-text">Спасибо за регистрацию!</p>
          <p class="card-text">На вашу электронную почту было направлено письмо для подтверждения аккаунта.</p>
        </v-card-text>

        <v-card-actions class="actions" v-if="type === 'registration'">
          <v-layout justify-center>
            <v-btn
              flat
              color="primary"
              @click="signUp()"
              :disabled="pending"
            >
              Создать аккаунт
            </v-btn>
          </v-layout>



          <div class="links">
            <span class="decor">Есть аккаунт? </span>
            <router-link to="/signin" class="link">
              Войти
            </router-link>
          </div>
        </v-card-actions>

        <v-card-actions class="actions" v-else>
          <v-layout justify-center>
            <v-btn
              flat
              color="primary"
              @click="$router.push('/signin')"
            >
              Войти
            </v-btn>
          </v-layout>
        </v-card-actions>
      </v-card>
    </v-layout>
  </v-container>
</template>

<script>
    import Captcha from '@/components/Captcha';
    import axios from 'axios';

    import {required, sameAs} from 'vuelidate/lib/validators';
    import {email as emailValidation, password as passwordValidation, validate} from "@/helpers/validation";

    export default {
    data: () => ({
      registrationDto: {
        name: null,
        email: null,
        password: null,
        confirmPassword: null,
        isAgree: false,
        captchaResponse: null,
      },

      serverErrors: {
        registrationDto: {
          email: null
        }
      },

      showPassword: false,
      showConfirmPassword: false,
      showCaptchaMessage: false,
      pending: false,
      errorMessage: null,
      type: 'registration',
    }),

    validations: {
      registrationDto: {
        name: {
          required
        },
        email: {
          required,
          email: emailValidation
        },
        password: {
          required,
          password: passwordValidation
        },
        confirmPassword: {
          required,
          password: passwordValidation,
          sameAs: sameAs('password')
        },
        isAgree: {
          required: value => value === true
        },
        captchaResponse: {
          required,
          expired: v => v !== 'expired'
        }
      }
    },

    computed: {
      getErrorsMessages: function () {
        const errorMessages = {
          registrationDto: {
            email: [],
            name: [],
            password: [],
            confirmPassword: [],
            isAgree: [],
            captchaResponse: null
          }
        };

        if(this.$v.registrationDto.name.$dirty) {
          if(!this.$v.registrationDto.name.required)
            errorMessages.registrationDto.name.push("Введите имя");
        }

        if(this.$v.registrationDto.email.$dirty) {
          if(!this.$v.registrationDto.email.required)
            errorMessages.registrationDto.email.push("Введите адрес электронной почты");

          if(!this.$v.registrationDto.email.email)
            errorMessages.registrationDto.email.push("Введите корректный адрес электронной почты");
        }

        if (this.$v.registrationDto.password.$dirty) {
          if (!this.$v.registrationDto.password.required)
            errorMessages.registrationDto.password.push("Введите пароль");

          if (!this.$v.registrationDto.password.password)
            errorMessages.registrationDto.password.push("Введите корректный пароль");
        }

        if (this.$v.registrationDto.confirmPassword.$dirty) {
          if (!this.$v.registrationDto.confirmPassword.required)
            errorMessages.registrationDto.confirmPassword.push("Подтвердите пароль");

          if(this.registrationDto.password &&
                  !this.$v.registrationDto.password.$invalid &&
                  !this.$v.registrationDto.confirmPassword.sameAs) {
            errorMessages.registrationDto.confirmPassword.push("Новый пароль и подтверждение должны совпадать");
          }
        }

        if(this.serverErrors.registrationDto.email) {
          errorMessages.registrationDto.email.push(this.serverErrors.registrationDto.email);
        }

        if(this.$v.registrationDto.isAgree.$dirty) {
          if(!this.$v.registrationDto.isAgree.required)
            errorMessages.registrationDto.isAgree.push("Подтвердите согласие");
        }

        if(this.$v.registrationDto.captchaResponse.$dirty) {
          if(!this.$v.registrationDto.captchaResponse.expired)
            errorMessages.captchaResponse = 'Срок действия капчи истек, обновите страницу';

          if(!this.$v.registrationDto.captchaResponse.required)
            errorMessages.captchaResponse = 'Пожалуйста, пройдите проверку';
        }


        return errorMessages;
      }
    },


    methods: {
      checkCaptcha(response) {
        this.registrationDto.captchaResponse = response;
        this.$v.registrationDto.captchaResponse.$touch();
      },

      async signUp () {
        if (!(await validate(this.$v.registrationDto))) {
          this.pending = true;
          axios.post(
            `/api/registration?g-recaptcha-response=${this.registrationDto.captchaResponse}`,
            this.registrationDto
          )
          .then(() => this.type = 'success')
          .catch(err => {
            this.$refs.recaptcha.resetCaptcha();
            this.$v.registrationDto.captchaResponse.$reset();
            this.errorMessage = err.response.data.message;
            this.serverErrors.registrationDto = err.response.data.payload;
          })
        }
      },
    },

    components: {
      Captcha,
    }
  }
</script>

<style lang="scss" scoped>
  .card {
    width: 390px;

    &-text {
      text-align: center;
    }
  }

  .titleCard {
    text-align: center;
    width: 100%;
  }

  .alert {
    margin-bottom: 20px;
  }

  .link {
    text-decoration: none;
    margin-left: 10px;
    &__btn {
      margin: 0;
    }
  }

  .actions {
      flex-direction: column;
      padding: 10px 16px;

      .links {
        width: 100%;
        justify-content: center;
        display: flex;
        margin: 20px 0 10px;

        .decor {
          margin-right: 10px;
        }
      }
    }
</style>