<template>
  <v-container fluid fill-height>
    <v-layout align-center justify-center>
      <v-card class="card">
        <v-card-title primary-title>
          <v-form class="form">
            <h1 class="titleCard">{{ title }}</h1>

            <div v-if="!captchaErrorMessage">
              <v-alert
                      :value="errorMessage"
                      class="alert"
                      outline
                      :disabled="loading"
              >
                {{ errorMessage }}
              </v-alert>

              <v-text-field
                      :value="email"
                      @change="v => email = v"
                      @blur="$v.email.$touch()"
                      :error-messages="getErrorsMessages.email"
                      label="Электронная почта"
              ></v-text-field>

              <v-text-field
                      :value="password"
                      @change="v => password = v"
                      @blur="$v.password.$touch()"
                      :error-messages="getErrorsMessages.password"
                      label="Пароль"
                      :append-icon="showPassword ? 'visibility' : 'visibility_off'"
                      :type="showPassword ? 'text' : 'password'"
                      @click:append="showPassword = !showPassword"
              ></v-text-field>

              <Captcha
                      ref="recaptcha"
                      :error-messages="getErrorsMessages.captchaResponse"
                      :checkCaptcha="checkCaptcha"
                      v-if="showCaptcha"
              />
            </div>

            <p class="captchaErrorMessage" v-if="captchaErrorMessage">{{ captchaErrorMessage }}</p>

            <div class="loader" v-if="loading">
              <v-progress-circular
                      :size="50"
                      color="primary"
                      indeterminate
              />
            </div>
          </v-form>
        </v-card-title>

        <v-card-actions v-if="!captchaErrorMessage">
          <v-layout justify-space-around>
            <v-btn
                    color="primary"
                    @click="signIn"
                    :disabled="loading"
            >
              Войти
            </v-btn>
            <router-link to="/signup" class="link">
              <v-btn flat color="primary" class="link__btn">
                Создать аккаунт
              </v-btn>
            </router-link>
          </v-layout>
        </v-card-actions>
      </v-card>
    </v-layout>
  </v-container>
</template>

<script>
    import axios from 'axios'
    import qs from 'qs'
    import Captcha from '@/components/Captcha';
    import {required} from 'vuelidate/lib/validators';
    import {email as emailValidation, validate} from "@/helpers/validation";

    export default {
    data: () => ({
      title: 'Вход',
      email: '',
      password: '',
      showPassword: false,
      showCaptcha: false,
      errorMessage: null,
      captchaErrorMessage: null,
      captchaResponse: null,
      loading: true,
    }),

    validations() {
      const validations = {
        email: {
          required,
          email: emailValidation
        },
        password: {
          required
        }
      };

      if (this.showCaptcha) {
        validations.captchaResponse = {
          required,
          expired: v => v !== 'expired'
        };
      }

      return validations;
    },

    created() {
      this.initCaptcha();
    },

    computed: {
      getErrorsMessages: function() {
        const errorMessages = {
          email: [],
          password: [],
          captchaResponse: null
        };


        if(this.$v.email.$dirty) {
          if(!this.$v.email.required)
            errorMessages.email.push("Введите адрес электронной почты");

          if(!this.$v.email.email)
            errorMessages.email.push("Введите корректный адрес электронной почты");
        }

        if(this.$v.password.$dirty) {
          if(!this.$v.password.required)
            errorMessages.password.push("Введите пароль");
        }

        if(this.showCaptcha && this.$v.captchaResponse.$dirty) {
          if(!this.$v.captchaResponse.expired)
            errorMessages.captchaResponse = 'Срок действия капчи истек, обновите страницу';

          if(!this.$v.captchaResponse.required)
            errorMessages.captchaResponse = 'Пожалуйста, пройдите проверку';
        }

        return errorMessages;
      }
    },

    methods: {
      async signIn () {
        if (!(await validate(this.$v))) {
          const data = {
            grant_type: 'password',
            client_id: 'webapp',
            username: this.email,
            password: this.password,
          };

          if (this.showCaptcha) {
            data["g-recaptcha-response"] = this.captchaResponse;
          }

          this.loading = true;

          axios.post('/oauth/token', qs.stringify(data), {
            headers: {
              "Content-type": "application/x-www-form-urlencoded; charset=utf-8",
              Authorization: `Basic ${btoa('webapp:webapp')}`
            }
          }).then(res => {
            localStorage.setItem('access_token', res.data.access_token);
            this.$router.push('/');
            this.loading = false;
          }).catch(res => {
              if(this.showCaptcha) {
                this.$refs.recaptcha.resetCaptcha();
                this.$v.captchaResponse.$reset();
                this.captchaResponse = null;
              }
              this.errorMessage = res.response.data.error_description;
              this.initCaptcha();
            })
        }
      },
      checkCaptcha(response) {
        this.captchaResponse = response;
        this.$v.captchaResponse.$touch();
      },

      initCaptcha() {
        axios.get('/oauth/captcha/show')
                .then(res => {
                  this.showCaptcha = res.data.message;
                  this.loading = false;
                })
                .catch(() => {
                  this.captchaErrorMessage = 'Ошибка. Пожалуйста, обратитесь в службу поддержки.';
                  this.loading = false;
                })
      }
    },

    components: {
      Captcha,
    },
  }
</script>

<style lang="scss" scoped>
  .card {
    min-width: 390px;

    .loader {
      width: 100%;
      margin: 20px 0;
      display: flex;
      justify-content: center;
    }

    .captchaErrorMessage {
      width: 100%;
      text-align: center;
    }

    .form {
      width: 100%;
    }

    .titleCard {
      text-align: center;
      margin-bottom: 20px;
    }

    .alert {
      margin-bottom: 20px;
    }

    .link {
      text-decoration: none;
      margin-left: 10px;
      &__btn {
        margin: 0;
      }
    }
  }
</style>
