<template>
  <v-container fluid fill-height>
    <v-layout wrap>
      <v-flex xs12>
        <v-subheader>
          Настройки виджета
        </v-subheader>

        <v-flex xs6 class="mb-3">
          <v-card>
            <v-card-text>
              <p>Кликните, чтобы отобразить виджет</p>
              <v-btn
                color="primary"
                @click="runWidget"
              >
                Запустить
              </v-btn>       
              <!-- <v-btn
                color="primary"
                :id="this.$store.state.user.companyId"
              >
                Запустить
              </v-btn>        -->
            </v-card-text>
          </v-card>
        </v-flex>
          
          <v-subheader>
            Как добавить виджет на свой сайт?
          </v-subheader>

          <v-flex xs6 class="mb-3">
            <v-card>
              <v-subheader>Шаг 1</v-subheader>
              <v-card-text>
                <p>Добавьте следующий код внутрь тега <code>&lt;head&gt;</code> на html-страницы,
                где будет использоваться виджет.</p>

<code style="width: 100%">
  {{ step1 }}  
</code>                

              </v-card-text>
            </v-card>
          </v-flex>

          <v-flex xs6 class="mb-3">
            <v-card>
              <v-subheader>Шаг 2</v-subheader>
              <v-card-text>
                <p>Выберете элемент (html-тег) на вашем сайте,
                по клику на который будет появляться виджет
                и добавьте ему функцию: <code>onclick="window.runJentuWidget()"</code></p>
                <p>Например:</p>
<code style="width: 100%">
  {{ step2 }}  
</code>
              </v-card-text>
            </v-card>
          </v-flex>

          <v-flex xs6>
            <v-card>
              <v-subheader>Шаг 3</v-subheader>
              <v-card-text>
                <p>Кликните по элементу в браузере и проверьте работоспособность виджета.
                При возникновении проблем обратитесь в службу поддержки.</p>
              </v-card-text>
            </v-card>
          </v-flex>

      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import { host } from '@/properties';

export default {
  mounted() {
    window.jentuWidget = {
      id: this.$store.state.user.companyId,
      organisationId: this.$store.state.user.organisationId,
    };
  },

  computed: {
    // TODO: Добавить в src реальный url нашего сайта
    step1: function() {
      return `<!-- Jentu Widget -->\n\
  <script>\n\
    window.jentuWidget = {
      id: '${this.$store.state.user.companyId}',
      organisationId: '${this.$store.state.user.organisationId}',
    };\n\
  <\/script>\n\
  <script async src="${host}/js-widgets/reserv-widget.js"><\/script>`
    },
    step2: function() {
      return `<button onclick="window.runJentuWidget()">Забронировать!</button>`
    },
  },

  methods: {
    runWidget: function() {
      window.runJentuWidget();
    },
  }
}
</script>