<template>
    <v-flex class="alerts">

        <v-alert v-for="(alert, index) in alerts" :key="index"
                 :value="true"
                :type="alert.type"
                transition="scale-transition"
                class="mb-2"
        >{{alert.message}}</v-alert>
    </v-flex>
</template>

<script>
    export default {
        data() {
            return {
                alerts: [],
            };
        },

        created() {
            this.$eventHub.$on("addAlert", (data) => {
                this.add(data);
            });
        },

        methods: {
            add(alert) {
                this.alerts.push(alert);
                setTimeout(() => {
                    this.remove(alert);
                }, 5000);
            },

            remove(alert) {
                const index = this.alerts.indexOf(alert);

                if (index !== -1) {
                    this.alerts.splice(index, 1);
                }
            }
        }
    };
</script>

<style lang="scss" scoped>
    .alerts {
        position: fixed;
        top: 10px;
        right: 3px;
        max-width: 420px;
        z-index: 10;
        width: 90%;
    }
</style>