<template>
  <div class="captcha">
    <div class="captcha__g-recaptcha">
      <vue-recaptcha
        ref="recaptcha"
        @verify="onVerify"
        @expired="onExpired"
        :sitekey="siteKey"
      />
    </div>
    <div class="captcha__error" v-if="errorMessages">
      {{ errorMessages }}
    </div>
  </div>
</template>

<script>
  export default {
    components: {
      VueRecaptcha: () => import("vue-recaptcha"),
    },

    data: () => ({
      siteKey: '6Ld0M2EUAAAAAJxtDva8SLnT9ypfg_uSQHhYWA-a',
    }),

    props: {
      checkCaptcha: {
        type: Function
      },

      errorMessages: {
        type: String
      }
    },

    mounted() {
      const recaptchaScript = document.createElement("script");

      recaptchaScript.setAttribute(
        "src",
        "https://www.google.com/recaptcha/api.js?onload=vueRecaptchaApiLoaded&render=explicit"
      );
      recaptchaScript.setAttribute("async", true);
      recaptchaScript.setAttribute("defer", true);
      document.head.appendChild(recaptchaScript);
    },

    methods: {
      resetCaptcha() {
        this.$refs.recaptcha.reset();
      },

      onExpired() {
        this.checkCaptcha('expired');
      },

      onVerify(response) {
        if (response !== null) {
          this.checkCaptcha(response)
        }
      }
    }
  };
</script>

<style lang="scss">
  .captcha {
    & {
      display: flex;
      flex-direction: column;
    }

    &__g-recaptcha {
      display: flex;
    }

    &__error {
      font-size: 12px;
      color: #ff5252;
      display: flex;
      margin-top: rem(5);
      width: 100%;
    }
  }
</style>