<template>
  <div>
    <v-btn flat color="primary" @click="onClick">Добавить фото</v-btn>
    <input
      :ref="`fileInput-${id}`"
      :id="id"
      type="file"
      class="fileInput"
      @change="onChange"
    >
  </div>
</template>

<script>
export default {
  props: {
    id: {
      type: [String, Number],
      default: 'fileInput',
    }
  },

  methods: {
    onClick: function() {
      this.$refs[`fileInput-${this.id}`].click();
    },
    onChange: function(e) {
      this.$emit("change", e)
    }
  },
}
</script>

<style lang="scss" scoped>
  .fileInput {
    display: none;
  }
</style>