<template>
  <div class="loader">
    <v-progress-circular
      :size="size"
      :width="5"
      color="purple"
      indeterminate
    />
  </div>
</template>

<script>
export default {
  props: {
    size: {
      type: [String, Number],
      default: 100,
    }
  }
}
</script>

<style lang="scss" scoped>
  .loader {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
</style>
