<template>
  <v-navigation-drawer
    permanent
    absolute
    overflow
    width="200"
    app
  >
    <v-toolbar flat>
      <v-list>
        <v-list-tile>
          <v-list-tile-title class="title">
            Меню
          </v-list-tile-title>
        </v-list-tile>
      </v-list>
    </v-toolbar>

    <v-divider></v-divider>

    <v-list class="pt-0">
      <v-list-tile
        v-for="item in items"
        :key="item.title"
        @click="goTo(item.path)"
      >
        <v-list-tile-action>
          <v-icon>{{ item.icon }}</v-icon>
        </v-list-tile-action>

        <v-list-tile-content>
          <v-list-tile-title>{{ item.title }}</v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>
    </v-list>
  </v-navigation-drawer>
</template>

<script>
  export default {
    data: () => ({
      items: [
        { title: 'Заказы', icon: 'event', path: '/orders' },
        { title: 'Услуги', icon: 'assignment_turned_in', path: '/services' },
        { title: 'Сотрудники', icon: 'face', path: '/employees' },
        { title: 'Виджет', icon: 'widgets', path: '/widget' },
        { title: 'Компания', icon: 'work', path: '/company' },
        { title: 'График', icon: 'date_range', path: '/schedule' },
        { title: 'Чат-бот', icon: 'message', path: '/bots' },
        { title: 'Профиль', icon: 'info', path: '/profile' },
      ],
    }),  

    methods: {
      goTo: function(path) {
        this.$router.push(path);
      },
    },
  }
</script>

