<template>
  <v-toolbar clipped-left absolute app>
    <router-link to="/orders">
      <v-toolbar-title class="d-flex">
        <img alt="Jentu" src="@/assets/logo.svg" class="logo">
      </v-toolbar-title>
    </router-link>

    <v-spacer></v-spacer>

    <v-btn
      flat
      color="primary"
      class="link__btn"
      @click="logout"
    >
      Выйти
    </v-btn>
  </v-toolbar>
</template>

<script>
  export default {
    methods: {
      logout: function() {
        localStorage.removeItem('access_token');
        this.$router.push('/signin');
      },
    },
  };
</script>


<style lang="scss" scoped>
  .link {
    text-decoration: none;
    &__btn {
      margin: 0;
    }
  }

  .logo {
    height: 48px;
  }
</style>
