<template>
    <v-dialog v-model="showDialog" max-width="600px">
        <v-card>
            <v-card-text class="ma-0">
                Вы уверены, что хотите покинуть страницу? Все несохраненные данные будут потеряны
            </v-card-text>

            <v-divider></v-divider>

            <v-card-actions class="justify-end">
                <v-btn color="primary" flat @click="stay()">Остаться</v-btn>
                <v-btn color="primary" text @click="leave()">Покинуть</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
    export default {
        data() {
            return {
                startData: null,
                to: null,
                next: null,
                showDialog: false,
                needCheck: false
            }
        },

        methods: {
            stopCheck() {
                this.needCheck = false;
                this.startData = null;
            },

            setStartData(startData) {
                console.log("tut");
                if(startData !== null) {
                    this.startData = JSON.stringify(startData);
                    this.needCheck = true;
                } else {
                    this.startData = null;
                    this.needCheck = false;
                }
            },

            beforeLeave(to, next, currentData) {
                if(!this.needCheck || JSON.stringify(currentData) === this.startData) {
                    next();
                }
                else {
                    this.to = to;
                    this.next = next;
                    this.showDialog = true;
                }
            },

            stay: function () {
                this.showDialog = false;
                this.to = null;
                this.next(false);
            },

            leave: function () {
                this.showDialog = false;
                this.next();
            }
        },


    }
</script>