<template>
  <v-container fluid fill-height>
    <v-layout row wrap>
      <v-flex>
        <v-layout>
          <v-subheader>График работы</v-subheader>
        </v-layout>
        <Loader v-if="loadingData" />
        <template v-else>
          <date-picker :day="day"
                       v-on:update:day="updateDay($event)"
          />
          <schedule-table :items="content" :day="day"/>
        </template>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  import axios from 'axios';
  import moment from 'moment';
  import Loader from '@/components/Loader';
  import {getHeaders} from '@/helpers/helpers';
  import ScheduleTable from './components/ScheduleTable/index.vue';
  import DatePicker from "./components/DatePicker/index.vue";
  import * as alertHelper from '@/helpers/alertsHelper';

  const daysOfWeek = ['monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'sunday'];

export default {

  data: () => ({
    loadingData: false,
    content: [],
    day: null,
  }),

  beforeMount() {
    this.day = moment().locale('ru').startOf('day').utc(true);
    this.$eventHub.$on("refresh", () => this.getSchedule());
  },

  async mounted() {
    this.getSchedule();
  },

  methods: {
    getSchedule: function() {
      const params = {
        year: this.day.clone().year(),
        weekNumber: this.day.clone().isoWeek()
      };

      const organisationData = {
        params,
        ...getHeaders()
      };

      const employeesData = {
        ...getHeaders()
      };

      this.loadingData = true;
      axios.all([axios.get(`/api/organisation/${this.$store.state.user.organisationId}/schedule`, organisationData),
                 axios.get(`/api/organisation/${this.$store.state.user.organisationId}/schedule/employees`, employeesData)])
              .then(axios.spread((companyScheduleRes, employeesScheduleRes) => {
                let companySchedule = companyScheduleRes.data;

                // С помощью map выставляем выходные для сотрудника, если в компании выходной
                this.content = employeesScheduleRes.data.map(item => {
                  daysOfWeek.forEach(day => {
                    if (companySchedule[day]) {
                      delete item[day];
                    }
                  });
                  return item;
                });

                // Компания всегда в начале
                this.content.unshift(companySchedule);

                this.loadingData = false;
              }))
              .catch(err => {
                alertHelper.addErrorAlert(err.response.data.message);
                // eslint-disable-next-line no-console
                console.error(err);

              });
    },

    updateDay: function (day) {
      this.day = day;
      this.getSchedule();
    }
  },

  components: {
    Loader,
    ScheduleTable,
    DatePicker
  },
}
</script>