<template>
    <v-data-table
            :headers="getHeaders"
            :items="getItems"
            hide-actions
    >
        <template v-slot:headers="props">
            <headers-component :headers="props.headers" :day="day" :expired="getExpired"/>
        </template>
        <template v-slot:items="props">
            <component :is="`row-${props.item.type.toLowerCase()}`" :item="props.item" :day="day" :expired="getExpired"/>
        </template>
    </v-data-table>
</template>

<script>
    import RowOrganisation from "./components/RowOrganisation";
    import RowEmployee from "./components/RowEmployee";
    import HeadersComponent from "./components/Headers";
    import moment from 'moment';

    export default {
        props: ['items', 'day'],

        computed: {
            getHeaders: function() {
                let week = this.getWeek;
                let expired = this.getExpired;

                let headers = [];
                headers.push({
                    text: 'ФИО/Название',
                    value: 'name',
                    sortable: false,
                    type: 'fio'
                });

                week.forEach(day => {
                    let dayOfWeek = day.clone().locale('en').format('dddd').toLowerCase();
                    headers.push({
                        date: day.format('DD MMM'),
                        dayOfWeek: day.format('ddd'),
                        value: day,
                        expired: expired.indexOf(dayOfWeek) !== -1,
                        sortable: false,
                        type: 'day'
                    });
                });

                headers.push({
                    text: ''
                });

                return headers;
            },

            getItems: function() {
                // Для нижнего подчеркивания последнего элемента (текущий день)
                let localItems = this.items.slice();
                if(localItems && localItems.length > 1) {
                    let lastItem = localItems[localItems.length-1];
                    lastItem.last = true;
                }
                return localItems;
            },

            getExpired: function() {
                const expired = [];
                const week = this.getWeek;
                let now = moment().add(-1, 'day').startOf('isoday');

                week.forEach(dayOfWeek => {
                   if(dayOfWeek.isBefore(now)) {
                       expired.push(dayOfWeek.clone().locale('en').format('dddd').toLowerCase());
                   }
                });

                return expired;
            },

            getWeek: function () {
                let monday = this.day.clone().startOf('isoweek');
                let week = [];
                week.push(monday);
                for(let i=2; i<8; i++) {
                    week.push(monday.clone().day(i));
                }

                return week;
            }
        },

        components: {
            RowOrganisation,
            RowEmployee,
            HeadersComponent
        }
    }
</script>